<h1 style="text-align: center;">Tuwaiq Academy</h1>
<h1 style="text-align: center;">Data Science and Machine Learning Bootcamp</h1>
<h2 style="text-align: center;">Usecase 2 - World Happiness Report</h2>

# introduction
Happiness is an important concept for us humans, but what does it really mean? And since we are, hopefully, happy, can we measure our happiness to ensure that we are truly happy? Well, this is a difficult question to answer, and here comes the World Happiness Report to answer it broadly by measuring happiness in each country.

### Who is World Happiness Report? 
The World Happiness Report is a collaboration between Gallup, the Oxford Wellbeing Research Centre, the UN Sustainable Development Solutions Network, and the WHR’s Editorial Board. It is published under the editorial supervision of the WHR Editorial Board.

### What Does the World Happiness Report do?
The World Happiness Report highlights the global call for focusing more on happiness and well-being in government policies. It looks at the current state of happiness around the world and explains how the science of happiness helps understand differences in happiness among people and countries.

### How Does the World Happiness Report Evaluate the World's Happiness?
The World Happiness Report analyzes observed data on six factors and their connection to life evaluations to understand differences across countries. These factors include GDP per capita, social support, healthy life expectancy, freedom, generosity, and corruption. However, the happiness rankings are not determined by an index of these factors. Instead, they are based on individuals’ self-assessments of their lives, particularly their responses to the Cantril ladder life-evaluation question, much like how epidemiologists assess the effects of smoking, exercise, and diet on life expectancy.

# The Six Factors of Happiness
- ### GDP per Capita 
 The gross domestic product per person in a given country, and it is measured annually.
- ### Social Support
 Social support  is the national average of the binary responses to the Gallup World Poll (GWP) question “If you were in trouble, do you have relatives or friends you can count on to help you whenever you need them, or not?” (A yes or no question)
- ### Healthy Life Expectancy
The World Happiness Report uses data on healthy life expectancy from the WHO. WHO defines Healthy Life Expectancy as the average number of years that a newborn could expect to live, if they were to pass through life exposed to the sex- and age-specific death rates prevailing at the time of their birth, for a specific year, in a given country, territory, or geographic area.
- ### Freedom to make life choices
Freedom to make life choices is the national average of binary responses to the GWP question “Are you satisfied or dissatisfied with your freedom to choose what you do with your life?” (A yes or no question)
- ### Generosity
Generosity is the residual of regressing the national average of GWP responses to the donation question “Have you donated money to a charity in the past month?” on log GDP per capita.
- ### Perceptions of Corruption
Perceptions of sorruption are the average of binary answers to two GWP questions: “Is corruption widespread throughout the government or not?” and “Is corruption widespread within businesses or not?” Where data for government corruption are missing, the perception of business corruption is used as the overall corruption-perception measure.

## Dystopia Residual
(Dystopia is the anit-utopia or the opposite of utopia and it is an imaginary has the least happy people). Each country is also compared against a hypothetical nation called Dystopia. Dystopia represents the lowest national averages for each key variable and is, along with residual error, used as a regression benchmark.

In [1]:
#Import all relevant libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import zscore
 
## This statement allows the visuals to render within your Jupyter Notebook.
%matplotlib inline

## Loading the data
We can now load the dataset into pandas using the read_csv() function. This converts the CSV file into a Pandas dataframe.

In [2]:
#Read in the csv file and convert to a Pandas dataframe
happiness2015 = pd.read_csv('Data/2015.csv')
happiness2016 = pd.read_csv('Data/2016.csv')
happiness2017 = pd.read_csv('Data/2017.csv')
happiness2018 = pd.read_csv('Data/2018.csv')
happiness2019 = pd.read_csv('Data/2019.csv')

### Viewing the dataframe
We can get a quick sense of the size of our dataset by using the shape method. This returns a tuple with the number of rows and columns in the dataset.

1. Chekcing the shape of each dataset

These shapes give us a few possible suggestions. There are exactly 12 features in 2015 & 2017, 13 features in 2016 and 9 features in 2018 & 2019 so, what happened here? why were some features removed in 2018 & 2019? were they less important for people's happiness?

In [3]:
print('The shape of 2015 dataset:', happiness2015.shape)
print('The shape of 2016 dataset:', happiness2016.shape)
print('The shape of 2017 dataset:', happiness2017.shape)
print('The shape of 2018 dataset:', happiness2018.shape)
print('The shape of 2019 dataset:', happiness2019.shape)

The shape of 2015 dataset: (158, 12)
The shape of 2016 dataset: (157, 13)
The shape of 2017 dataset: (155, 12)
The shape of 2018 dataset: (156, 9)
The shape of 2019 dataset: (156, 9)

2. Getting a quick look at each dataset

#### World Happiness Report 2015

In addition to the six factors we have these following columns:
- Country: represents the country name
- Region: represents the region of the country in the continent
- Happiness Rank: the order of the country in terms of happiness
- Happiness Score: represents how different the population mean is from the sample mean (how accuractyly a sample represents a population)
- Family: represents how much having a family contributes to the happines score

we can see from these first five columns that four out of the top five happies country are located in Western Europe and the fifth one is in North America

In [4]:
happiness2015.head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

#### World Happiness Report 2016

Two new columns have been added here and one column, Standard Error, is not found in this dataset. The new columns are Lower Confidence Interval & Upper Confidence Interval
- Confidence Interval: it is a measure of the likelihood that a prediction will be accurate 
- Lower Confidence Interval: represents the lower limits of conifdence interval
- Upper Confidence Interval: represents the upper limits of conifdence interval
</br></br>
Here, in the 2016 dataset, the top five happiest countries are all located in Westren Europe!

In [5]:
happiness2016.head()

,Country,Region,Happiness Rank,Happiness Score,Lower Confidence Interval,Upper Confidence Interval,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Denmark,Western Europe,1,7.526,7.460,7.592,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171,2.73939
1,Switzerland,Western Europe,2,7.509,7.428,7.590,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083,2.69463
2,Iceland,Western Europe,3,7.501,7.333,7.669,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678,2.83137
3,Norway,Western Europe,4,7.498,7.421,7.575,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895,2.66465
4,Finland,Western Europe,5,7.413,7.351,7.475,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492,2.82596

#### World Happiness Report 2017

- Lower and Upper Confidence Interval have been replaced by Whisker High and Whisker Low.
- The Region feature has been removed.
- Column names have a different format.
- The top five happiest countries are still the same as the previous year but in a different order.

In [6]:
happiness2017.head()

,Country,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027
1,Denmark,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707
2,Iceland,3,7.504,7.622030,7.385970,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715
3,Switzerland,4,7.494,7.561772,7.426227,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716
4,Finland,5,7.469,7.527542,7.410458,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182

#### World Happiness Report 2018

- Whisker high and low, faimly, and dystopia residual features have been removed.
- Country feature is renamed to Country or region, Happiness Score is renmaed to score, Happiness rank is renmaed to  overall rank, Freedom is renmaed to Freedom to make life choises and Trust (Government Corruption) is renmaed to Perceptions of corruption
- A new feature, Social Support, has been added.
- The top five happiest countries are still the same as the previous year but in a different order.

In [7]:
happiness2018.head()

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393
1,2,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340
2,3,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408
3,4,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138
4,5,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357

#### World Happiness Report 2019

- in 2019 dataset we see that World Happiness Report decided to focus on the six features to calculate the happiness (GDP per capita,Social support, Healthy life expectancy, freedom to make life choices, Generosity, and Perceptions of corruption)
- The top five happiest countries are still the same as the previous year but in a different order.
- We also found that Finland ranked first as the happiest country in 2018 and 2019.

In [8]:
happiness2019.head()

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298

## 1. Data Profiling:
Data profiling is a comprehensive process of examining the data available in an existing dataset and collecting statistics and information about that data.

1. Checking the columns for each dataset.

In [9]:
happiness2015.columns

Index(['Country', 'Region', 'Happiness Rank', 'Happiness Score',
       'Standard Error', 'Economy (GDP per Capita)', 'Family',
       'Health (Life Expectancy)', 'Freedom', 'Trust (Government Corruption)',
       'Generosity', 'Dystopia Residual'],
      dtype='object')

In [10]:
happiness2016.columns

Index(['Country', 'Region', 'Happiness Rank', 'Happiness Score',
       'Lower Confidence Interval', 'Upper Confidence Interval',
       'Economy (GDP per Capita)', 'Family', 'Health (Life Expectancy)',
       'Freedom', 'Trust (Government Corruption)', 'Generosity',
       'Dystopia Residual'],
      dtype='object')

In [11]:
happiness2017.columns

Index(['Country', 'Happiness.Rank', 'Happiness.Score', 'Whisker.high',
       'Whisker.low', 'Economy..GDP.per.Capita.', 'Family',
       'Health..Life.Expectancy.', 'Freedom', 'Generosity',
       'Trust..Government.Corruption.', 'Dystopia.Residual'],
      dtype='object')

In [12]:
happiness2018.columns

Index(['Overall rank', 'Country or region', 'Score', 'GDP per capita',
       'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption'],
      dtype='object')

In [13]:
happiness2019.columns

Index(['Overall rank', 'Country or region', 'Score', 'GDP per capita',
       'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption'],
      dtype='object')

2. Getting an overview of each dataset using info().

#### World Happiness Report 2015

Insights from the overview of the 2015 dataset:
- The number of entries (158) and how they are indexed, the columns and their names, and types, which seem correct.
- The count of each data type.
- Apparently, there are no null values in the 2015 dataset, but we still need to check for missing values.

In [14]:
happiness2015.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 158 entries, 0 to 157
Data columns (total 12 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Country                        158 non-null    object
 1   Region                         158 non-null    object
 2   Happiness Rank                 158 non-null    int64
 3   Happiness Score                158 non-null    float64
 4   Standard Error                 158 non-null    float64
 5   Economy (GDP per Capita)       158 non-null    float64
 6   Family                         158 non-null    float64
 7   Health (Life Expectancy)       158 non-null    float64
 8   Freedom                        158 non-null    float64
 9   Trust (Government Corruption)  158 non-null    float64
 10  Generosity                     158 non-null    float64
 11  Dystopia Residual              158 non-null    float64
dtypes: float64(9), int64(1), object(2)
memory usage: 14.9+ KB

#### World Happiness Report 2016

Insights from the overview of the 2016 dataset:
- We see here that the entires of 2016 dataset is less than 2015 entries by one. 
- the total number of each data type is increased by one (float toatl number went up to 10 ) and all of them seem correct.

In [15]:
happiness2016.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157 entries, 0 to 156
Data columns (total 13 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Country                        157 non-null    object
 1   Region                         157 non-null    object
 2   Happiness Rank                 157 non-null    int64
 3   Happiness Score                157 non-null    float64
 4   Lower Confidence Interval      157 non-null    float64
 5   Upper Confidence Interval      157 non-null    float64
 6   Economy (GDP per Capita)       157 non-null    float64
 7   Family                         157 non-null    float64
 8   Health (Life Expectancy)       157 non-null    float64
 9   Freedom                        157 non-null    float64
 10  Trust (Government Corruption)  157 non-null    float64
 11  Generosity                     157 non-null    float64
 12  Dystopia Residual              157 non-null    float64
dtypes: float64(10), int64(1), object(2)
memory usage: 16.1+ KB

#### World Happiness Report 2017

Insights from the overview of the 2017 dataset:
- The total number of entries is fewer than the total number of entries in the 2015 and 2016 datasets.
- Unlike the 2015 and 2016 datasets, we only have one object data type, which is the Country feature.
- The total number of float and int data types remains the same as in the 2016 dataset.

In [16]:
happiness2017.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 155 entries, 0 to 154
Data columns (total 12 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Country                        155 non-null    object
 1   Happiness.Rank                 155 non-null    int64
 2   Happiness.Score                155 non-null    float64
 3   Whisker.high                   155 non-null    float64
 4   Whisker.low                    155 non-null    float64
 5   Economy..GDP.per.Capita.       155 non-null    float64
 6   Family                         155 non-null    float64
 7   Health..Life.Expectancy.       155 non-null    float64
 8   Freedom                        155 non-null    float64
 9   Generosity                     155 non-null    float64
 10  Trust..Government.Corruption.  155 non-null    float64
 11  Dystopia.Residual              155 non-null    float64
dtypes: float64(10), int64(1), object(1)
memory usage: 14.7+ KB

#### World Happiness Report 2018

Insights from the overview of the 2018 dataset:
- The total number of entries in 2018 is one more than the total number of entries in 2017, but it is still fewer than the total number of entries in 2015 and 2016.
- We have fewer features here, so the total number of float data types has decreased.

In [17]:
happiness2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 9 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Overall rank                  156 non-null    int64
 1   Country or region             156 non-null    object
 2   Score                         156 non-null    float64
 3   GDP per capita                156 non-null    float64
 4   Social support                156 non-null    float64
 5   Healthy life expectancy       156 non-null    float64
 6   Freedom to make life choices  156 non-null    float64
 7   Generosity                    156 non-null    float64
 8   Perceptions of corruption     155 non-null    float64
dtypes: float64(7), int64(1), object(1)
memory usage: 11.1+ KB

#### World Happiness Report 2019

Insights from the overview of the 2019 dataset:

The total number of entries and the total number of features, along with their names, are the same as those in the 2018 dataset. This gives us a simple glimpse that the datasets of the World Happiness Report are becoming more consistent over the years.

In [18]:
happiness2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 9 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Overall rank                  156 non-null    int64
 1   Country or region             156 non-null    object
 2   Score                         156 non-null    float64
 3   GDP per capita                156 non-null    float64
 4   Social support                156 non-null    float64
 5   Healthy life expectancy       156 non-null    float64
 6   Freedom to make life choices  156 non-null    float64
 7   Generosity                    156 non-null    float64
 8   Perceptions of corruption     156 non-null    float64
dtypes: float64(7), int64(1), object(1)
memory usage: 11.1+ KB

3. Getting more descriptive details using describe().

#### World Happiness Report 2015

More insights from 2015 dataset:
- We can understand from this that the countries are all unique and there is no duplicated country.
- There are 10 regions of continent, but Sub-Saharan Africa has the most frequncies out of these 10 regions. However, we noticed from the head rows that the top five happiest countries in the world are located in Western Europe and North America.

In [19]:
happiness2015.describe(include='object')

            Country              Region
count           158                 158
unique          158                  10
top     Switzerland  Sub-Saharan Africa
freq              1                  40

In [20]:
happiness2015.describe()

,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
count,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000
mean,79.493671,5.375734,0.047885,0.846137,0.991046,0.630259,0.428615,0.143422,0.237296,2.098977
std,45.754363,1.145010,0.017146,0.403121,0.272369,0.247078,0.150693,0.120034,0.126685,0.553550
min,1.000000,2.839000,0.018480,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.328580
25%,40.250000,4.526000,0.037268,0.545808,0.856823,0.439185,0.328330,0.061675,0.150553,1.759410
50%,79.500000,5.232500,0.043940,0.910245,1.029510,0.696705,0.435515,0.107220,0.216130,2.095415
75%,118.750000,6.243750,0.052300,1.158448,1.214405,0.811013,0.549092,0.180255,0.309883,2.462415
max,158.000000,7.587000,0.136930,1.690420,1.402230,1.025250,0.669730,0.551910,0.795880,3.602140

##### GDP per Capita

In [21]:
#Checking the countries that their GDP per Capita didn't contribute to their happiness
#Unicef mentioned that Congo is one of the poorest countries which make sense that their GDP per Capita 
#did not contribute to their happiness.
happiness2015[happiness2015['Economy (GDP per Capita)'] == 0]

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
119,Congo (Kinshasa),Sub-Saharan Africa,120,4.517,0.0368,0.0,1.0012,0.09806,0.22605,0.07625,0.24834,2.86712

In [22]:
#Checking the coutnries that has the highest score for GDP per Capita
#well, as an Arab this makes a lot of sense! Qatar is one of the richest countries in the world.
happiness2015[happiness2015['Economy (GDP per Capita)'] == 1.690420]

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
27,Qatar,Middle East and Northern Africa,28,6.611,0.06257,1.69042,1.0786,0.79733,0.6404,0.52208,0.32573,1.55674

##### Family

In [23]:
# Checking the coutnries that Family feature did not contribute to their happiness
# Central African Republic is a poor country but its GDP contributed to their happiness unlike Congo
# that family feature has more contribution to their happiness. 
# How much family and money are importnat for poor and rich countries? Which one is more importnat?

happiness2015[happiness2015['Family'] == 0]

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
147,Central African Republic,Sub-Saharan Africa,148,3.678,0.06112,0.0785,0.0,0.06699,0.48879,0.08289,0.23835,2.7223

In [24]:
#Checking the coutnries that has the highest score for Family
#We can see here that Iceland, the second happiest country in the world for 2015, has the family 
#feature contributing more to its happiness than GDP per capita (interesting!).
happiness2015[happiness2015['Family'] == 1.402230]

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.4363,2.70201

#### Health (Life Expectancy) feature

In [25]:
# Checking the coutnries that Health (Life Expectancy) feature did not contribute to their happiness
# WHO says that the life expectancy in Sierra Leone is 50 years, and maternal and child mortality 
# are among the highest in the world.
happiness2015[happiness2015['Health (Life Expectancy)'] == 0]

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
122,Sierra Leone,Sub-Saharan Africa,123,4.507,0.07068,0.33024,0.95571,0.0,0.4084,0.08786,0.21488,2.51009

In [26]:
#Checking the coutnries that has the highest score for Health (Life Expectancy) feature
happiness2015[happiness2015['Health (Life Expectancy)'] == 1.025250]

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
23,Singapore,Southeastern Asia,24,6.798,0.0378,1.52186,1.02,1.02525,0.54252,0.4921,0.31105,1.88501

##### Freedom

In [27]:
# Checking the coutnries that Freedom feature did not contribute to their happiness
happiness2015[happiness2015['Freedom'] == 0]

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
111,Iraq,Middle East and Northern Africa,112,4.677,0.05232,0.98549,0.81889,0.60237,0.0,0.13788,0.17922,1.95335

In [28]:
#Checking the coutnries that has the highest score for Freedom feature
happiness2015[happiness2015['Freedom'] == 0.669730]

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
3,Norway,Western Europe,4,7.522,0.0388,1.459,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531

##### Trust (Government Corruption)

In [29]:
happiness2015[happiness2015['Trust (Government Corruption)'] == 0]

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
73,Indonesia,Southeastern Asia,74,5.399,0.02596,0.82827,1.08708,0.63793,0.46611,0.0,0.51535,1.86399

In [30]:
happiness2015[happiness2015['Trust (Government Corruption)'] == 0.551910]

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
153,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.7737,0.42864,0.59201,0.55191,0.22628,0.67042

##### Generosity

In [31]:
# This is intersting! I have always heared that Greeks are generous. So, why generosity did not 
# contribute to their happiness? it could be that their generosity is based on their hosting skills, 
# not on how World Happiness Report measures generoisty.
happiness2015[happiness2015['Generosity'] == 0]

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
101,Greece,Western Europe,102,4.857,0.05062,1.15406,0.92933,0.88213,0.07699,0.01397,0.0,1.80101

In [32]:
happiness2015[happiness2015['Generosity'] == 0.795880]

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
128,Myanmar,Southeastern Asia,129,4.307,0.04351,0.27108,0.70905,0.48246,0.44017,0.19034,0.79588,1.41805

#### World Happiness Report 2016

More insights from 2016 dataset:

- We see here, that no country is duplicated, and Denamrk is the happiest country in 2016.
- The Sub-Saharan Africa  is still the most frequented region, but this time with less total number of frequncies which means two  countries from Sub-Saharan Africa are not recorded in 2016

In [33]:
#We see here, that no country is duplicated, and Denmark is the happiest country in the world in 2016
happiness2016.describe(include='object')

        Country              Region
count       157                 157
unique      157                  10
top     Denmark  Sub-Saharan Africa
freq          1                  38

##### GDP per Capita

In [34]:
#Checking the countries that their GDP per Capita didn't contribute to their happiness
#The result changed from Congo to Somalia, which is also a poor country
happiness2016[happiness2016['Economy (GDP per Capita)'] == 0]

,Country,Region,Happiness Rank,Happiness Score,Lower Confidence Interval,Upper Confidence Interval,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
75,Somalia,Sub-Saharan Africa,76,5.44,5.321,5.559,0.0,0.33613,0.11466,0.56778,0.3118,0.27225,3.83772

In [35]:
#Checking what happened to Congo in 2016
#This indicates that Congo has a better economy for Congo. However, Congo ranked 119 in 2015, but here 
# ranked 124! 
happiness2016[happiness2016['Country'] == 'Congo (Kinshasa)']

,Country,Region,Happiness Rank,Happiness Score,Lower Confidence Interval,Upper Confidence Interval,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
124,Congo (Kinshasa),Sub-Saharan Africa,125,4.272,4.191,4.353,0.05661,0.80676,0.188,0.15602,0.06075,0.25458,2.74924

In [36]:
#Checking the coutnries that has the highest score for GDP per Capita
# in both 2015 and 2016 Qatar's GDP per Capita was the highest that contributed to a country happiness,
#but Qatar ranked 27 in 2015 and in 2016 it ranked 35!
happiness2016[happiness2016['Economy (GDP per Capita)'] == 1.824270]

,Country,Region,Happiness Rank,Happiness Score,Lower Confidence Interval,Upper Confidence Interval,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
35,Qatar,Middle East and Northern Africa,36,6.375,6.178,6.572,1.82427,0.87964,0.71723,0.56679,0.48049,0.32388,1.58224

##### Family

In [37]:
# Checking the coutnries that Family feature did not contribute to their happiness
happiness2016[happiness2016['Family'] == 0]

,Country,Region,Happiness Rank,Happiness Score,Lower Confidence Interval,Upper Confidence Interval,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
154,Togo,Sub-Saharan Africa,155,3.303,3.192,3.414,0.28123,0.0,0.24811,0.34678,0.11587,0.17517,2.1354

In [38]:
# Checking what happened to Central African Republic
# It seems that Central African Republic was not recorded for 2016 dataset
happiness2016[happiness2016['Country'] == 'Central African Republic']

Empty DataFrame
Columns: [Country, Region, Happiness Rank, Happiness Score, Lower Confidence Interval, Upper Confidence Interval, Economy (GDP per Capita), Family, Health (Life Expectancy), Freedom, Trust (Government Corruption), Generosity, Dystopia Residual]
Index: []

In [39]:
#Checking the coutnries that has the highest score for Family
#It is still Iceland. However, Iceland ranked 1 in 2015 dataset, but ranked 2 in 2016 dataset
happiness2016[happiness2016['Family'] == 1.183260]

,Country,Region,Happiness Rank,Happiness Score,Lower Confidence Interval,Upper Confidence Interval,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
2,Iceland,Western Europe,3,7.501,7.333,7.669,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678,2.83137

#### Health (Life Expectancy) feature

In [40]:
# Checking the coutnries that Health (Life Expectancy) feature did not contribute to their happiness
# It is still Sierra Leone. in 2015 dataset, it ranked 122, but in 2016 dataset it ranked 110.
# People in Sierra Leone have a shorter life expectancy, but they are happier than the previous year!
happiness2016[happiness2016['Health (Life Expectancy)'] == 0]

,Country,Region,Happiness Rank,Happiness Score,Lower Confidence Interval,Upper Confidence Interval,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
110,Sierra Leone,Sub-Saharan Africa,111,4.635,4.505,4.765,0.36485,0.628,0.0,0.30685,0.08196,0.23897,3.01402

In [41]:
#Checking the coutnries that has the highest score for Health (Life Expectancy) feature
happiness2016[happiness2016['Health (Life Expectancy)'] == 0.952770]

,Country,Region,Happiness Rank,Happiness Score,Lower Confidence Interval,Upper Confidence Interval,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
74,Hong Kong,Eastern Asia,75,5.458,5.362,5.554,1.5107,0.87021,0.95277,0.48079,0.31647,0.40097,0.92614

##### Freedom

In [42]:
# Checking the coutnries that Freedom feature did not contribute to their happiness
happiness2016[happiness2016['Freedom'] == 0]

,Country,Region,Happiness Rank,Happiness Score,Lower Confidence Interval,Upper Confidence Interval,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
132,Sudan,Sub-Saharan Africa,133,4.139,3.928,4.35,0.63069,0.81928,0.29759,0.0,0.10039,0.18077,2.10995

In [43]:
# Checking what happened to Irag
# It seems that Iraq is still in the same rank as 2015, but the freedom contributes more to their 
# happiness
happiness2016[happiness2016['Country'] == 'Iraq']

,Country,Region,Happiness Rank,Happiness Score,Lower Confidence Interval,Upper Confidence Interval,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
111,Iraq,Middle East and Northern Africa,112,4.575,4.446,4.704,1.07474,0.59205,0.51076,0.24856,0.13636,0.19589,1.81657

In [44]:
#Checking the coutnries that has the highest score for Freedom feature
#the result changed from Norway to Uzbekistan
happiness2016[happiness2016['Freedom'] == 0.608480]

,Country,Region,Happiness Rank,Happiness Score,Lower Confidence Interval,Upper Confidence Interval,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
48,Uzbekistan,Central and Eastern Europe,49,5.987,5.896,6.078,0.73591,1.1681,0.50163,0.60848,0.28333,0.34326,2.34638

In [45]:
# Checking what happened to Norway
happiness2016[happiness2016['Country'] == 'Norway']

,Country,Region,Happiness Rank,Happiness Score,Lower Confidence Interval,Upper Confidence Interval,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
3,Norway,Western Europe,4,7.498,7.421,7.575,1.57744,1.1269,0.79579,0.59609,0.35776,0.37895,2.66465

##### Trust (Government Corruption)

In [46]:
happiness2016[happiness2016['Trust (Government Corruption)'] == 0]

,Country,Region,Happiness Rank,Happiness Score,Lower Confidence Interval,Upper Confidence Interval,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
86,Bosnia and Herzegovina,Central and Eastern Europe,87,5.163,5.063,5.263,0.93383,0.64367,0.70766,0.09511,0.0,0.29889,2.48406

In [47]:
#It is still Rwanda
happiness2016[happiness2016['Trust (Government Corruption)'] == 0.505210]

,Country,Region,Happiness Rank,Happiness Score,Lower Confidence Interval,Upper Confidence Interval,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
151,Rwanda,Sub-Saharan Africa,152,3.515,3.444,3.586,0.32846,0.61586,0.31865,0.5432,0.50521,0.23552,0.96819

##### Generosity

In [48]:
#It is still Greece, but its ranked changed from 101 to 98
happiness2016[happiness2016['Generosity'] == 0]

,Country,Region,Happiness Rank,Happiness Score,Lower Confidence Interval,Upper Confidence Interval,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
98,Greece,Western Europe,99,5.033,4.935,5.131,1.24886,0.75473,0.80029,0.05822,0.04127,0.0,2.12944

In [49]:
#It is still Myanmar, but its ranked changed from 128 to 118
happiness2016[happiness2016['Generosity'] == 0.819710]

,Country,Region,Happiness Rank,Happiness Score,Lower Confidence Interval,Upper Confidence Interval,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
118,Myanmar,Southeastern Asia,119,4.395,4.327,4.463,0.34112,0.69981,0.3988,0.42692,0.20243,0.81971,1.50655

#### World Happiness Report 2017

In [50]:
#We see here, that no country is duplicated, and Finland is the happiest country in the world in 2018
happiness2018.describe(include='object')

       Country or region
count                156
unique               156
top              Finland
freq                   1

In [51]:
happiness2017.describe()

,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual
count,155.000000,155.000000,155.000000,155.000000,155.000000,155.000000,155.000000,155.000000,155.000000,155.000000,155.000000
mean,78.000000,5.354019,5.452326,5.255713,0.984718,1.188898,0.551341,0.408786,0.246883,0.123120,1.850238
std,44.888751,1.131230,1.118542,1.145030,0.420793,0.287263,0.237073,0.149997,0.134780,0.101661,0.500028
min,1.000000,2.693000,2.864884,2.521116,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.377914
25%,39.500000,4.505500,4.608172,4.374955,0.663371,1.042635,0.369866,0.303677,0.154106,0.057271,1.591291
50%,78.000000,5.279000,5.370032,5.193152,1.064578,1.253918,0.606042,0.437454,0.231538,0.089848,1.832910
75%,116.500000,6.101500,6.194600,6.006527,1.318027,1.414316,0.723008,0.516561,0.323762,0.153296,2.144654
max,155.000000,7.537000,7.622030,7.479556,1.870766,1.610574,0.949492,0.658249,0.838075,0.464308,3.117485

##### GDP per Capita

In [52]:
#Checking the countries that their GDP per Capita didn't contribute to their happiness
#this mean Central African Republic is recorded after it wasn't recorded in 2016
happiness2017[happiness2017['Economy..GDP.per.Capita.'] == 0]

,Country,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual
154,Central African Republic,155,2.693,2.864884,2.521116,0.0,0.0,0.018773,0.270842,0.280876,0.056565,2.066005

In [53]:
#Checking the coutnries that has the highest score for GDP per Capita
#It is still Qatar for the third year in a row! However, its ranking went lower.
happiness2017[happiness2017['Economy..GDP.per.Capita.'].round(6) == 1.870766]

,Country,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual
34,Qatar,35,6.375,6.568477,6.181523,1.870766,1.274297,0.710098,0.604131,0.330474,0.439299,1.145464

##### Family

In [54]:
# Checking the coutnries that Family feature did not contribute to their happiness
# It seems that Centeral African Republic is back to be the least happiest country in the world

happiness2017[happiness2017['Family'] == 0]

,Country,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual
154,Central African Republic,155,2.693,2.864884,2.521116,0.0,0.0,0.018773,0.270842,0.280876,0.056565,2.066005

In [55]:
# Checking to find what happened to Togo
# Now, Togo seems to be happier than it was in 2016
happiness2017[happiness2017['Country'] == 'Togo']

,Country,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual
149,Togo,150,3.495,3.594038,3.395962,0.305445,0.431883,0.247106,0.380426,0.196896,0.095665,1.837229

In [56]:
#Checking the coutnries that has the highest score for Family
#For the third year in a row, Iceland has the highest score for Family feature contribution to their 
#happiness
happiness2017[happiness2017['Family'].round(6) == 1.610574]

,Country,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual
2,Iceland,3,7.504,7.62203,7.38597,1.480633,1.610574,0.833552,0.627163,0.47554,0.153527,2.322715

#### Health (Life Expectancy) feature

In [57]:
# Checking the coutnries that Health (Life Expectancy) feature did not contribute to their happiness
happiness2017[happiness2017['Health..Life.Expectancy.'] == 0]

,Country,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual
138,Lesotho,139,3.808,4.044344,3.571656,0.521021,1.190095,0.0,0.390661,0.157497,0.119095,1.429835

In [58]:
# Checking what happened to Sierra Leone
# It seems that finally Sierra Leone has a better health life expectany than it had in 2015 and 2016
happiness2017[happiness2017['Country'] == 'Sierra Leone']

,Country,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual
105,Sierra Leone,106,4.709,4.850643,4.567357,0.368421,0.984136,0.005565,0.318698,0.293041,0.071095,2.66846

In [59]:
#Checking the coutnries that has the highest score for 'Health..Life.Expectancy. feature
# Singapore is back for the best health life expectancy 
happiness2017[happiness2017['Health..Life.Expectancy.'].round(6) == 0.949492]

,Country,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual
25,Singapore,26,6.572,6.636723,6.507277,1.692278,1.353814,0.949492,0.549841,0.345966,0.464308,1.216362

In [60]:
# Checking to find what happened to Hong Kong
#happiness2017[happiness2017['Country'] == 'Hong Kong'] This didn't return Hong Kong
#the format of Hong Kong's name is changed! (inconsistency!)
#Hong Kong moved up in ranking
happiness2017[happiness2017['Country'].str.contains('Hong Kong', case=False, na=False)]

,Country,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual
70,"Hong Kong S.A.R., China",71,5.472,5.549594,5.394406,1.551675,1.262791,0.943062,0.490969,0.374466,0.293934,0.554633

##### Freedom

In [61]:
# Checking the coutnries that Freedom feature did not contribute to their happiness
happiness2017[happiness2017['Freedom'] == 0]

,Country,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual
139,Angola,140,3.795,3.951642,3.638358,0.858428,1.104412,0.049869,0.0,0.097926,0.06972,1.614482

In [62]:
# Checking what happened to Sudan
# Sudan moved up in the ranking
happiness2017[happiness2017['Country'] == 'Sudan']

,Country,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual
129,Sudan,130,4.139,4.345747,3.932253,0.659517,1.214009,0.290921,0.014996,0.182317,0.089848,1.687066

In [63]:
#Checking the coutnries that has the highest score for Freedom feature
# It still Uzbekistan and it moved up in the ranking
happiness2017[happiness2017['Freedom'].round(6) == 0.658249]

,Country,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual
46,Uzbekistan,47,5.971,6.065538,5.876463,0.786441,1.548969,0.498273,0.658249,0.415984,0.246528,1.816914

##### Trust (Government Corruption)

In [64]:
happiness2017[happiness2017['Trust..Government.Corruption.'] == 0]

,Country,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual
89,Bosnia and Herzegovina,90,5.182,5.276336,5.087665,0.982409,1.069336,0.705186,0.204403,0.328867,0.0,1.892173

In [65]:
happiness2017[happiness2017['Trust..Government.Corruption.'].round(6) == 0.464308]

,Country,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual
25,Singapore,26,6.572,6.636723,6.507277,1.692278,1.353814,0.949492,0.549841,0.345966,0.464308,1.216362

##### Generosity

In [66]:
# It is Greece for the third year in a row, and it moved up in the ranking!
happiness2017[happiness2017['Generosity'] == 0]

,Country,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual
86,Greece,87,5.227,5.325246,5.128754,1.289487,1.239415,0.810199,0.095731,0.0,0.04329,1.749222

In [67]:
#It is still Myanmar for the third year in a row, but it moved up in the ranking

happiness2017[happiness2017['Generosity'].round(6)== 0.838075]

,Country,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual
113,Myanmar,114,4.545,4.61474,4.47526,0.367111,1.123236,0.397523,0.514492,0.838075,0.188816,1.11529

#### World Happiness Report 2018

In [68]:
#No duplicated countries and Finland is the happiest country in the world in 2018
happiness2018.describe(include='object')

       Country or region
count                156
unique               156
top              Finland
freq                   1

In [69]:
happiness2018.describe()

,Overall rank,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
count,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000,155.000000
mean,78.500000,5.375917,0.891449,1.213237,0.597346,0.454506,0.181006,0.112000
std,45.177428,1.119506,0.391921,0.302372,0.247579,0.162424,0.098471,0.096492
min,1.000000,2.905000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,39.750000,4.453750,0.616250,1.066750,0.422250,0.356000,0.109500,0.051000
50%,78.500000,5.378000,0.949500,1.255000,0.644000,0.487000,0.174000,0.082000
75%,117.250000,6.168500,1.197750,1.463000,0.777250,0.578500,0.239000,0.137000
max,156.000000,7.632000,2.096000,1.644000,1.030000,0.724000,0.598000,0.457000

#### GDP per Capita

In [70]:
#Checking the countries that their GDP per Capita didn't contribute to their happiness
happiness2018[happiness2018['GDP per capita'] == 0]

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
97,98,Somalia,4.982,0.0,0.712,0.115,0.674,0.238,0.282

In [71]:
#Checking to find what happened to Central African Rupblic
#Its GDP is better than Somalia but it is still on of the least happiest countries in the world
happiness2018[happiness2018['Country or region'] == 'Central African Republic']

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
154,155,Central African Republic,3.083,0.024,0.0,0.01,0.305,0.218,0.038

In [72]:
#Checking the coutnries that has the highest score for GDP per Capita
# This time it changed from Qatar to UAE! and it has a better rank than Qatar had in 2015, 2016, and 
# 2017!
happiness2018[happiness2018['GDP per capita'] == 2.096000]

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
19,20,United Arab Emirates,6.774,2.096,0.776,0.67,0.284,0.186,NaN

In [73]:
# Checking to find what happened to Qatar
happiness2018[happiness2018['Country or region'] == 'Qatar']

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
31,32,Qatar,6.374,1.649,1.303,0.748,0.654,0.256,0.171

#### Social Support

In [74]:
# Checking the countries that their Social Support didn't contribute to their happiness
happiness2018[happiness2018['Social support'] == 0]

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
154,155,Central African Republic,3.083,0.024,0.0,0.01,0.305,0.218,0.038

In [75]:
#Checking the coutnries that has the highest score for Social Support
# Family feature is removed, but Iceland always had the best score. It is not surpising to see it here, too
happiness2018[happiness2018['Social support'] == 1.644000]

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
3,4,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138

#### Healthy Life Expectancy

In [76]:
# Checking the countries that their Healthy Life Expectancy didn't contribute to their happiness
# Sierra Leone came back and its rank moved down!
happiness2018[happiness2018['Healthy life expectancy'] == 0]

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
112,113,Sierra Leone,4.571,0.256,0.813,0.0,0.355,0.238,0.053

In [77]:
#Checking to find what happened to Lesotho
happiness2018[happiness2018['Country or region'] == 'Lesotho']

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
140,141,Lesotho,3.808,0.472,1.215,0.079,0.423,0.116,0.112

In [78]:
#Checking the coutnries that has the highest score for Healthy Life Expectancy
#Hong Kong is back
happiness2018[happiness2018['Healthy life expectancy'] == 1.030000]

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
75,76,Hong Kong,5.43,1.405,1.29,1.03,0.524,0.246,0.291

In [79]:
# Checking to find what happened to Singapore
# It moved down in ranking
happiness2018[happiness2018['Country or region'] == 'Singapore']

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
33,34,Singapore,6.343,1.529,1.451,1.008,0.631,0.261,0.457

#### Freedom to make life choices

In [80]:
# Checking the countries that their Freedom to make life choices didn't contribute to their happiness
happiness2018[happiness2018['Freedom to make life choices'] == 0]

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
141,142,Angola,3.795,0.73,1.125,0.269,0.0,0.079,0.061

In [81]:
#Checking the coutnries that has the highest score for Freedom to make life choices
#It is still Uzbekistan and it moved up in ranking
happiness2018[happiness2018['Freedom to make life choices'] == 0.724000]

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
43,44,Uzbekistan,6.096,0.719,1.584,0.605,0.724,0.328,0.259

#### Generosity

In [82]:
# Checking the countries that their Generosity didn't contribute to their happiness
#It is still Greece for the fourth year in a row, and it moved up in ranking
happiness2018[happiness2018['Generosity'] == 0]

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
78,79,Greece,5.358,1.154,1.202,0.879,0.131,0.0,0.044

In [83]:
#Checking the coutnries that has the highest score for Generosity
#It is still Mynamar for the fourth year in a row, and it moved down in the ranking
happiness2018[happiness2018['Generosity'] == 0.598000]

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
129,130,Myanmar,4.308,0.682,1.174,0.429,0.58,0.598,0.178

#### Perceptions of corruption

In [84]:
# Checking the countries that their Perceptions of corruption didn't contribute to their happiness
happiness2018[happiness2018['Perceptions of corruption'] == 0]

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
66,67,Moldova,5.640,0.657,1.301,0.620,0.232,0.171,0.0
92,93,Bosnia and Herzegovina,5.129,0.915,1.078,0.758,0.280,0.216,0.0

In [85]:
#Checking the coutnries that has the highest score for Perceptions of corruption
happiness2018[happiness2018['Perceptions of corruption'] == 0.457000]

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
33,34,Singapore,6.343,1.529,1.451,1.008,0.631,0.261,0.457

#### World Happiness Report 2019

In [86]:
#We see here, that no country is duplicated, and Finland is the happiest country in the world in 2019. The total number
#of countries is still the same as 2018
happiness2019.describe(include='object')

       Country or region
count                156
unique               156
top              Finland
freq                   1

In [87]:
happiness2019.describe()

,Overall rank,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
count,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000
mean,78.500000,5.407096,0.905147,1.208814,0.725244,0.392571,0.184846,0.110603
std,45.177428,1.113120,0.398389,0.299191,0.242124,0.143289,0.095254,0.094538
min,1.000000,2.853000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,39.750000,4.544500,0.602750,1.055750,0.547750,0.308000,0.108750,0.047000
50%,78.500000,5.379500,0.960000,1.271500,0.789000,0.417000,0.177500,0.085500
75%,117.250000,6.184500,1.232500,1.452500,0.881750,0.507250,0.248250,0.141250
max,156.000000,7.769000,1.684000,1.624000,1.141000,0.631000,0.566000,0.453000

#### GDP per Capita

In [88]:
#Checking the countries that their GDP per Capita didn't contribute to their happiness
#It is still Somalia and it moved down in the ranking
happiness2019[happiness2019['GDP per capita'] == 0]

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
111,112,Somalia,4.668,0.0,0.698,0.268,0.559,0.243,0.27

In [89]:
#Checking the coutnries that has the highest score for GDP per Capita
# Qatar returned to be has the best score in GDP per Capita and it moved up in the ranking
happiness2019[happiness2019['GDP per capita'] == 1.684000]

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
28,29,Qatar,6.374,1.684,1.313,0.871,0.555,0.22,0.167

In [90]:
# Checking to find what happened to UAE
#has the same ranking as the previous year
happiness2018[happiness2018['Country or region'] == 'United Arab Emirates']

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
19,20,United Arab Emirates,6.774,2.096,0.776,0.67,0.284,0.186,NaN

#### Social Support

In [91]:
# Checking the countries that their Social Support didn't contribute to their happiness
# It is still Central African Republic
happiness2019[happiness2019['Social support'] == 0]

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
154,155,Central African Republic,3.083,0.026,0.0,0.105,0.225,0.235,0.035

In [92]:
#Checking the coutnries that has the highest score for Social Support
#It is still Iceland 
happiness2019[happiness2019['Social support'].round(6) == 1.624000]

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
3,4,Iceland,7.494,1.38,1.624,1.026,0.591,0.354,0.118

#### Healthy Life Expectancy

In [93]:
# Checking the countries that their Healthy Life Expectancy didn't contribute to their happiness
happiness2019[happiness2019['Healthy life expectancy'] == 0]

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
134,135,Swaziland,4.212,0.811,1.149,0.0,0.313,0.074,0.135

In [94]:
#Checking to find what happened to Sierra Leone
happiness2019[happiness2019['Country or region'] == 'Sierra Leone']

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
128,129,Sierra Leone,4.374,0.268,0.841,0.242,0.309,0.252,0.045

In [95]:
#Checking the coutnries that has the highest score for Healthy Life Expectancy
#Hong Kong is back
happiness2019[happiness2019['Healthy life expectancy'] == 1.141000]

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
33,34,Singapore,6.262,1.572,1.463,1.141,0.556,0.271,0.453

In [96]:
# Checking to find what happened to Hong Kong
# It moved down in ranking
happiness2019[happiness2019['Country or region'] == 'Hong Kong']

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
75,76,Hong Kong,5.43,1.438,1.277,1.122,0.44,0.258,0.287

#### Freedom to make life choices

In [97]:
# Checking the countries that their Freedom to make life choices didn't contribute to their happiness
happiness2019[happiness2019['Freedom to make life choices'] == 0]

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
153,154,Afghanistan,3.203,0.35,0.517,0.361,0.0,0.158,0.025

In [98]:
#Checking the coutnries that has the highest score for Freedom to make life choices
#It is still Uzbekistan and it moved up in ranking
happiness2019[happiness2019['Freedom to make life choices'] == 0.631000]

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
40,41,Uzbekistan,6.174,0.745,1.529,0.756,0.631,0.322,0.24

#### Generosity

In [99]:
# Checking the countries that their Generosity didn't contribute to their happiness
#It is still Greece for the fourth year in a row, and it moved down in ranking
happiness2019[happiness2019['Generosity'] == 0]

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
81,82,Greece,5.287,1.181,1.156,0.999,0.067,0.0,0.034

In [100]:
#Checking the coutnries that has the highest score for Generosity
#It is still Mynamar for the fourth year in a row, and it moved down in the ranking
happiness2019[happiness2019['Generosity'] == 0.566000]

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
130,131,Myanmar,4.36,0.71,1.181,0.555,0.525,0.566,0.172

#### Perceptions of corruption

In [101]:
# Checking the countries that their Perceptions of corruption didn't contribute to their happiness
happiness2019[happiness2019['Perceptions of corruption'] == 0]

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
70,71,Moldova,5.529,0.685,1.328,0.739,0.245,0.181,0.0

In [102]:
#Checking the coutnries that has the highest score for Perceptions of corruption
happiness2019[happiness2019['Perceptions of corruption'] == 0.453000]

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
33,34,Singapore,6.262,1.572,1.463,1.141,0.556,0.271,0.453

The process of profiling differs slightly for categorical and numerical variables due to their inherent differences.

**The two main types of data are:**
- Quantitative (numerical) data
- Qualitative (categorical) data

### Data Quality Checks
Data quality checks involve the process of ensuring that the data is accurate, complete, consistent, relevant, and reliable. 


**Here are typical steps involved in checking data quality:**

#### 1. Reliability:
Evaluate the data's source and collection process to determine its trustworthiness.

The source of the datasets is World Happiness Report, as it is mentioned in their website, is a
partnership of Gallup, the Oxford Wellbeing Research Centre, the UN Sustainable Development Solutions Network, and the WHR’s Editorial Board.This makes the source trustworthy and therefor reliable.

#### 2. Timeliness: 
Ensure the data is up-to-date and reflective of the current situation or the period of interest for the analysis.

Each dataset reflect the period of interest that includes 2015-2019

#### 3. Consistency: 

Confirm that the data is consistent within the dataset and across multiple data sources. For example, the same data point should not have different values in different places.

- The country feature, which is supposed to be the same across multiple datasets, is consistent.
- The consistency of the data schema was unstable during the years 2015-2017, but it started to be consistent in 2018 when the World Happiness Report standardized six features along with overall rank and the country name

#### 4. Relevance: 
Assess whether the data is appropriate and applicable for the intended analysis. Data that is not relevant can skew results and lead to incorrect conclusions.

**Key considerations for relevance include:**

> 1. Sample Appropriateness: Confirm that your data sample aligns with your analysis objectives. For instance, utilizing data from the Northern region will not yield accurate insights for the Western region of the Kingdom.
>
> 2. Variable Selection: Any column will not be relevant for our analysis, we can get rid of these using the drop() method. We will set the “axis” argument to 1 since we’re dealing with columns, and set the “inplace” argument to True to make the change permanent.


To test the relevance of the dataset we need to check the questions we need to answer and the datasets
- What countries or regions rank the highest in overall happiness and each of
the six factors contributing to happiness?
- How did country ranks or scores change between the 2015 and 2016 as well as
the 2016 and 2017 reports?
- Did any country experience a significant increase or decrease in happiness?
- Bounce: Please begin your analysis, and don't hesitate to consider additional
relevant questions.

 - For now, the following features are the most relevant: [Country, regions, Happiness Rank, Happiness score, Economy (GDP per Capita), Family, Health (Life Expectancy), Freedom, Trust (Government Corruption), Generosity]
 - The less relevant columns (for now) [Dystopia Residual]

In [103]:
happiness2015.head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

here the upper and lower confidence intervals can help us answering the third question:
- Did any country experience a significant increase or decrease in happiness?

- Why was the standard error replaced by lower and upper confidence interval in the 2016 dataset?

Genreally, standrad error shows the uncertainty in an estimation while confidence interval shows the range of likely true values

In World Happiness Report website, it is said that the confidence interval is useful to see whether countries differ significantly in the average life evaluations, which can help us answering the third questions: Did any country experience a significant increase or decrease in happiness?

In [104]:
happiness2016.head()

,Country,Region,Happiness Rank,Happiness Score,Lower Confidence Interval,Upper Confidence Interval,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Denmark,Western Europe,1,7.526,7.460,7.592,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171,2.73939
1,Switzerland,Western Europe,2,7.509,7.428,7.590,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083,2.69463
2,Iceland,Western Europe,3,7.501,7.333,7.669,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678,2.83137
3,Norway,Western Europe,4,7.498,7.421,7.575,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895,2.66465
4,Finland,Western Europe,5,7.413,7.351,7.475,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492,2.82596

- Here, the upper and lower confidence interval are replaced by the whicker high and low. WHY?  Condifdence interval and whickers are used for different purposes.
- Whisker high in a (plot box) shows the maximum value that is not considered as an outlier. 
- Whisker low in a (plot box) shows the minimum value thta is not considered as an outlier.
They can show extreme changes in happiness and detect outliers, so they may help us answering the third question: Did any country experience a significant increase or decrease in happiness?

In [105]:
happiness2017.head()

,Country,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027
1,Denmark,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707
2,Iceland,3,7.504,7.622030,7.385970,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715
3,Switzerland,4,7.494,7.561772,7.426227,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716
4,Finland,5,7.469,7.527542,7.410458,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182

Standard error, confidence intervals, and whiskers along with dystopia residual are completely removed, and we're left with Overall rank, Country or region, score and the six features/factors.

In [106]:
happiness2018.head()

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393
1,2,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340
2,3,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408
3,4,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138
4,5,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357

The features in the 2019 dataset are the same as the features in the 2018 dataset

In [107]:
happiness2019.head()

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298

After checking the relevant and checking the official website for World Happiness Report, we're not
going to drop any columns because they are all relevant for the use case. Some features may help 
answering one questions and others may help answering all of them. 

even though 2015, 2016, 2017 has differenct statstical metrices we can:
- calcualte the confidence interval using standard error for 2015 and then compare it with 2016

#### 5. Uniqueness: 
Check for and remove duplicate records to prevent skewed analysis results.

#### World Happiness Report 2015

In [108]:
happiness2015.head(3)

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204

In [109]:
#Chekcing for duplicated in 2015
happiness2015.duplicated().sum()

0

In [110]:
happiness2015.duplicated(['Happiness Rank']).sum()

1

- We see here that two countries has the same rank and the same score which is a normal case.
- Happiness score (overall score of them 6 facotr scores) determines the rank, which means they are  both unique

In [111]:
happiness2015[happiness2015.duplicated(['Happiness Rank'], keep=False)]

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
81,Jordan,Middle East and Northern Africa,82,5.192,0.04524,0.90198,1.05392,0.69639,0.40661,0.14293,0.11053,1.87996
82,Montenegro,Central and Eastern Europe,82,5.192,0.05235,0.97438,0.90557,0.72521,0.18260,0.14296,0.16140,2.10017

In [112]:
happiness2015.duplicated(['Health (Life Expectancy)']).sum()

1

The duplicated value of Health (Life Expectancy) belongs to a country divided into Cyprus and North Cyprus which is a normal case

In [113]:
happiness2015[happiness2015.duplicated(['Health (Life Expectancy)'], keep=False)]

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
65,North Cyprus,Western Europe,66,5.695,0.05635,1.20806,1.07008,0.92356,0.49027,0.14280,0.26169,1.59888
66,Cyprus,Western Europe,67,5.689,0.05580,1.20813,0.89318,0.92356,0.40672,0.06146,0.30638,1.88931

#### World Happiness Report 2016

In [114]:
#Chekcing for duplicated in 2016
happiness2016.duplicated().sum()

0

In [115]:
happiness2016.head(3)

,Country,Region,Happiness Rank,Happiness Score,Lower Confidence Interval,Upper Confidence Interval,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Denmark,Western Europe,1,7.526,7.460,7.592,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171,2.73939
1,Switzerland,Western Europe,2,7.509,7.428,7.590,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083,2.69463
2,Iceland,Western Europe,3,7.501,7.333,7.669,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678,2.83137

In [116]:
happiness2016.duplicated(['Happiness Rank']).sum()

3

In [117]:
happiness2016[happiness2016.duplicated(['Happiness Rank'], keep=False)]

,Country,Region,Happiness Rank,Happiness Score,Lower Confidence Interval,Upper Confidence Interval,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
33,Saudi Arabia,Middle East and Northern Africa,34,6.379,6.287,6.471,1.48953,0.84829,0.59267,0.37904,0.30008,0.15457,2.61482
34,Taiwan,Eastern Asia,34,6.379,6.305,6.453,1.39729,0.92624,0.79565,0.32377,0.06630,0.25495,2.61523
56,Poland,Central and Eastern Europe,57,5.835,5.749,5.921,1.24585,1.04685,0.69058,0.45190,0.05500,0.14443,2.20035
57,South Korea,Eastern Asia,57,5.835,5.747,5.923,1.35948,0.72194,0.88645,0.25168,0.07716,0.18824,2.35015
144,Burkina Faso,Sub-Saharan Africa,145,3.739,3.647,3.831,0.31995,0.63054,0.21297,0.33370,0.12533,0.24353,1.87319
145,Uganda,Sub-Saharan Africa,145,3.739,3.629,3.849,0.34719,0.90981,0.19625,0.43653,0.06442,0.27102,1.51416

In [118]:
happiness2016.duplicated(['Lower Confidence Interval', 'Upper Confidence Interval']).sum()

0

In [119]:
happiness2016.duplicated(['Lower Confidence Interval']).sum()

3

In [120]:
#Lower Confidence Interval -> 
happiness2016[happiness2016.duplicated(['Lower Confidence Interval'], keep=False)]

,Country,Region,Happiness Rank,Happiness Score,Lower Confidence Interval,Upper Confidence Interval,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
102,Nigeria,Sub-Saharan Africa,103,4.875,4.750,5.000,0.75216,0.64498,0.05108,0.27854,0.03050,0.23219,2.88586
103,Honduras,Latin America and Caribbean,104,4.871,4.750,4.992,0.69429,0.75596,0.58383,0.26755,0.06906,0.20440,2.29551
119,Egypt,Middle East and Northern Africa,120,4.362,4.259,4.465,0.95395,0.49813,0.52116,0.18847,0.10393,0.12706,1.96895
121,Kenya,Sub-Saharan Africa,122,4.356,4.259,4.453,0.52267,0.76240,0.30147,0.40576,0.06686,0.41328,1.88326
146,Yemen,Middle East and Northern Africa,147,3.724,3.621,3.827,0.57939,0.47493,0.31048,0.22870,0.05892,0.09821,1.97295
147,Madagascar,Sub-Saharan Africa,148,3.695,3.621,3.769,0.27954,0.46115,0.37109,0.13684,0.07506,0.22040,2.15075

In [121]:
happiness2016.duplicated(['Upper Confidence Interval']).sum()

3

In [122]:
happiness2016[happiness2016.duplicated(['Upper Confidence Interval'], keep=False)]

,Country,Region,Happiness Rank,Happiness Score,Lower Confidence Interval,Upper Confidence Interval,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
55,Russia,Central and Eastern Europe,56,5.856,5.789,5.923,1.23228,1.05261,0.58991,0.32682,0.03586,0.02736,2.59115
57,South Korea,Eastern Asia,57,5.835,5.747,5.923,1.35948,0.72194,0.88645,0.25168,0.07716,0.18824,2.35015
84,Kyrgyzstan,Central and Eastern Europe,85,5.185,5.103,5.267,0.56044,0.95434,0.55449,0.40212,0.04762,0.38432,2.28136
87,Montenegro,Central and Eastern Europe,88,5.161,5.055,5.267,1.07838,0.74173,0.63533,0.15111,0.12721,0.17191,2.25531
95,Vietnam,Southeastern Asia,96,5.061,4.991,5.131,0.74037,0.79117,0.66157,0.55954,0.11556,0.25075,1.94180
98,Greece,Western Europe,99,5.033,4.935,5.131,1.24886,0.75473,0.80029,0.05822,0.04127,0.00000,2.12944

#### World Happiness Report 2017

In [123]:
# Checking duplicates in 2017
happiness2017.duplicated().sum()

0

In [124]:
happiness2017.head(3)

,Country,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027
1,Denmark,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707
2,Iceland,3,7.504,7.622030,7.385970,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715

##### A question
isn't countries with the same score supposed to have the same rank?

In [125]:
happiness2017.duplicated(['Happiness.Score']).sum() #Score is duplicated!

4

In [126]:
happiness2017.duplicated(['Happiness.Rank']).sum() #Rank is not duplicated!

0

##### Answering the question above
Comparing with 2015 and 2016 -> in these years datasets whichever countries get the same happiness score they also get the same happiness rank (in 2015 standard error was used, in 2016 confidence interval was used). Unlike them, in 2017 dataset two countries with the same happiness score have different happiness rank. This tell us that  the happiness rank in 2017 dataset doesn't depend solely on the overall score.

In [127]:
happiness2017[happiness2017.duplicated('Happiness.Score', keep=False)]

,Country,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual
8,Sweden,9,7.284,7.344095,7.223905,1.494387,1.478162,0.830875,0.612924,0.385399,0.384399,2.097538
9,Australia,10,7.284,7.356651,7.211349,1.484415,1.510042,0.843887,0.601607,0.477699,0.301184,2.065211
27,Uruguay,28,6.454,6.545906,6.362094,1.217560,1.412228,0.719217,0.579392,0.175097,0.178062,2.172410
28,Guatemala,29,6.454,6.566874,6.341126,0.872002,1.255585,0.540240,0.531311,0.283488,0.077223,2.893891
54,South Korea,55,5.838,5.922559,5.753441,1.401678,1.128274,0.900214,0.257922,0.206674,0.063283,1.880378
55,Moldova,56,5.838,5.908371,5.767629,0.728871,1.251826,0.589465,0.240729,0.208779,0.010091,2.807808
93,Vietnam,94,5.074,5.147281,5.000719,0.788548,1.277491,0.652169,0.571056,0.234968,0.087633,1.462319
94,Nigeria,95,5.074,5.209500,4.938500,0.783756,1.215770,0.056916,0.394953,0.230947,0.026122,2.365391

#### World Happiness Report 2018

In [128]:
#checking duplicates in 2018 dataset
happiness2018.duplicated().sum()

0

In [129]:
happiness2018.head(3)

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393
1,2,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340
2,3,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408

In [130]:
happiness2018.duplicated(['Overall rank']).sum() #the rank is not duplicated

0

the score is duplicated which means countries can have the  the same score but not the same rank which also means the rank in 2018 dataset is like the rank in 2017 dataset doesn't depend solely on the overall score

In [131]:
happiness2018.duplicated(['Score']).sum()

2

In [132]:
happiness2018[happiness2018.duplicated(['Score'], keep=False)]

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
72,73,Belarus,5.483,1.039,1.498,0.700,0.307,0.101,0.154
73,74,Turkey,5.483,1.148,1.380,0.686,0.324,0.106,0.109
78,79,Greece,5.358,1.154,1.202,0.879,0.131,0.000,0.044
79,80,Lebanon,5.358,0.965,1.179,0.785,0.503,0.214,0.136

In [133]:
#This columns wasn't duplicated in the previous years
happiness2018.duplicated(['GDP per capita']).sum()

9

In [134]:
happiness2018[happiness2018.duplicated(['GDP per capita'], keep=False)].head()

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
9,10,Australia,7.272,1.340,1.573,0.910,0.647,0.361,0.302
12,13,Costa Rica,7.072,1.010,1.459,0.817,0.632,0.143,0.101
14,15,Germany,6.965,1.340,1.474,0.861,0.586,0.273,0.280
45,46,Thailand,6.072,1.016,1.417,0.707,0.637,0.364,0.029
52,53,Latvia,5.933,1.148,1.454,0.671,0.363,0.092,0.066

In [135]:
happiness2018.duplicated(['Social support']).sum()

10

In [136]:
happiness2018[happiness2018.duplicated(['Social support'], keep=False)].head()

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
6,7,Canada,7.328,1.330,1.532,0.896,0.653,0.321,0.291
8,9,Sweden,7.314,1.355,1.501,0.913,0.659,0.285,0.383
12,13,Costa Rica,7.072,1.010,1.459,0.817,0.632,0.143,0.101
14,15,Germany,6.965,1.340,1.474,0.861,0.586,0.273,0.280
24,25,Chile,6.476,1.131,1.331,0.808,0.431,0.197,0.061

In [137]:
happiness2018.duplicated(['Healthy life expectancy']).sum()

13

In [138]:
happiness2018[happiness2018.duplicated(['Healthy life expectancy'], keep=False)].head()

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
1,2,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340
6,7,Canada,7.328,1.330,1.532,0.896,0.653,0.321,0.291
7,8,New Zealand,7.324,1.268,1.601,0.876,0.669,0.365,0.389
13,14,Ireland,6.977,1.448,1.583,0.876,0.614,0.307,0.306
14,15,Germany,6.965,1.340,1.474,0.861,0.586,0.273,0.280

In [139]:
happiness2018.duplicated(['Freedom to make life choices']).sum()

20

In [140]:
happiness2018[happiness2018.duplicated(['Freedom to make life choices'], keep=False)].head(2)

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
12,13,Costa Rica,7.072,1.010,1.459,0.817,0.632,0.143,0.101
16,17,Luxembourg,6.910,1.576,1.520,0.896,0.632,0.196,0.321

In [141]:
happiness2018.duplicated(['Generosity']).sum()

34

In [142]:
happiness2018.duplicated(['Perceptions of corruption']).sum()

45

new questions:
- in 2015, 2016, and 2017 dataset the features, specfically the six factors were not duplicated. So, what is happening here? is the happiness over the world increased/decreased?

#### Happiness World Report 2019

In [143]:
#Checking duplicates in 2019 dataset
happiness2019.duplicated().sum()

0

In [144]:
happiness2019.head()

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298

In [145]:
happiness2019.duplicated(['Overall rank']).sum()

0

In [146]:
happiness2019.duplicated(['Score']).sum() 
#the same case of overall rank and score is also happening here

1

In [147]:
happiness2019[happiness2019.duplicated(['Score'], keep=False)]

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
88,89,Morocco,5.208,0.801,0.782,0.782,0.418,0.036,0.076
89,90,Azerbaijan,5.208,1.043,1.147,0.769,0.351,0.035,0.182

In [148]:
happiness2019.duplicated(['GDP per capita']).sum()

10

In [149]:
happiness2019.duplicated(['Social support']).sum()

11

In [150]:
happiness2019.duplicated(['Healthy life expectancy']).sum()

37

In [151]:
happiness2019.duplicated(['Freedom to make life choices']).sum()

26

In [152]:
happiness2019.duplicated(['Generosity']).sum()

38

In [153]:
happiness2019['Generosity'].value_counts().head()

0.153    4
0.244    3
0.175    3
0.043    3
0.083    3
Name: Generosity, dtype: int64

In [154]:
#Checking for what countries are the duplicated values are assigned 
#taking 0.153 and 0.244 in the next cell for instance 
#they are assigned for different countries that have ranks aren't close to each
#so, they are not redundant; rather, they are repeated.  

happiness2019[happiness2019['Generosity'] == 0.153]

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
29,30,Spain,6.354,1.286,1.484,1.062,0.362,0.153,0.079
110,111,Senegal,4.681,0.450,1.134,0.571,0.292,0.153,0.072
127,128,Mali,4.390,0.385,1.105,0.308,0.327,0.153,0.052

In [155]:
happiness2019[happiness2019['Generosity'] == 0.244]

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
9,10,Austria,7.246,1.376,1.475,1.016,0.532,0.244,0.226
86,87,Turkmenistan,5.247,1.052,1.538,0.657,0.394,0.244,0.028
129,130,Sri Lanka,4.366,0.949,1.265,0.831,0.470,0.244,0.047

In [156]:
happiness2019.duplicated(['Perceptions of corruption']).sum()

43

In [157]:
#seeing some duplicated values in the perceptions of corruption feature
happiness2019['Perceptions of corruption'].value_counts().head(30)

0.028    4
0.078    4
0.089    4
0.041    3
0.064    3
0.056    3
0.100    3
0.167    3
0.055    3
0.027    3
0.034    3
0.093    3
0.006    2
0.086    2
0.073    2
0.087    2
0.110    2
0.047    2
0.164    2
0.097    2
0.050    2
0.053    2
0.080    2
0.085    2
0.082    2
0.025    2
0.182    2
0.060    2
0.076    1
0.114    1
Name: Perceptions of corruption, dtype: int64

In [158]:
#This columns has a high percentage of duplicated values, but it is still an important columns for EDA
happiness2019[(happiness2019['Perceptions of corruption'] == 0.028) |
              (happiness2019['Perceptions of corruption'] == 0.078) |
              (happiness2019['Perceptions of corruption'] == 0.089)]

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
26,27,Guatemala,6.436,0.800,1.269,0.746,0.535,0.175,0.078
51,52,Thailand,6.008,1.050,1.409,0.828,0.557,0.359,0.028
55,56,Jamaica,5.890,0.831,1.478,0.831,0.490,0.107,0.028
58,59,Honduras,5.860,0.642,1.236,0.828,0.507,0.246,0.078
86,87,Turkmenistan,5.247,1.052,1.538,0.657,0.394,0.244,0.028
91,92,Indonesia,5.192,0.931,1.203,0.660,0.491,0.498,0.028
99,100,Nepal,4.913,0.446,1.226,0.677,0.439,0.285,0.089
125,126,Iraq,4.437,1.043,0.980,0.574,0.241,0.148,0.089
131,132,Chad,4.350,0.350,0.766,0.192,0.174,0.198,0.078
141,142,Comoros,3.973,0.274,0.757,0.505,0.142,0.275,0.078
145,146,Zimbabwe,3.663,0.366,1.114,0.433,0.361,0.151,0.089
149,150,Malawi,3.410,0.191,0.560,0.495,0.443,0.218,0.089

In [159]:
happiness2019[happiness2019.duplicated(['Perceptions of corruption'], keep=False)]

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
11,12,Costa Rica,7.167,1.034,1.441,0.963,0.558,0.144,0.093
12,13,Israel,7.139,1.276,1.455,1.029,0.371,0.261,0.082
20,21,United Arab Emirates,6.825,1.503,1.310,0.825,0.598,0.262,0.182
22,23,Mexico,6.595,1.070,1.323,0.861,0.433,0.074,0.073
24,25,Taiwan,6.446,1.368,1.430,0.914,0.351,0.242,0.097
...,...,...,...,...,...,...,...,...,...
145,146,Zimbabwe,3.663,0.366,1.114,0.433,0.361,0.151,0.089
146,147,Haiti,3.597,0.323,0.688,0.449,0.026,0.419,0.110
147,148,Botswana,3.488,1.041,1.145,0.538,0.455,0.025,0.100
149,150,Malawi,3.410,0.191,0.560,0.495,0.443,0.218,0.089
153,154,Afghanistan,3.203,0.350,0.517,0.361,0.000,0.158,0.025

The duplicated columns are the six factors we need for the analysis therefore we cannot drop them.
The number of duplicates in the six factors is increased except for perceptions of corruption. So, does
these duplicates mean anything or are thye just duplicated? since there were no duplicates 
in the period of 2015-2016 and a few duplicates in 2017, then it started to increased in both 2018-2019. Does these duplicates suggests
that the countries are starting to have the same level of happiness?

#### 6. Completeness: 
Ensure that no critical data is missing. This might mean checking for null values or required fields that are empty.

We will start by checking the dataset for missing or null values. For this, we can use the isna() method which returns a dataframe of boolean values indicating if a field is null or not. To group all missing values by column, we can include the sum() method.

In [160]:
#Display number missing values per column
happiness2015.isnull().sum().sort_values(ascending = False)

Country                          0
Region                           0
Happiness Rank                   0
Happiness Score                  0
Standard Error                   0
Economy (GDP per Capita)         0
Family                           0
Health (Life Expectancy)         0
Freedom                          0
Trust (Government Corruption)    0
Generosity                       0
Dystopia Residual                0
dtype: int64

In [161]:
#Display number missing values per column
happiness2016.isnull().sum().sort_values(ascending = False)

Country                          0
Region                           0
Happiness Rank                   0
Happiness Score                  0
Lower Confidence Interval        0
Upper Confidence Interval        0
Economy (GDP per Capita)         0
Family                           0
Health (Life Expectancy)         0
Freedom                          0
Trust (Government Corruption)    0
Generosity                       0
Dystopia Residual                0
dtype: int64

In [162]:
#Display number missing values per column
happiness2017.isnull().sum().sort_values(ascending = False)

Country                          0
Happiness.Rank                   0
Happiness.Score                  0
Whisker.high                     0
Whisker.low                      0
Economy..GDP.per.Capita.         0
Family                           0
Health..Life.Expectancy.         0
Freedom                          0
Generosity                       0
Trust..Government.Corruption.    0
Dystopia.Residual                0
dtype: int64

In [163]:
#Display number missing values per column
#We have one missing value in the percptions of corruption column
happiness2018.isnull().sum().sort_values(ascending = False)

Perceptions of corruption       1
Overall rank                    0
Country or region               0
Score                           0
GDP per capita                  0
Social support                  0
Healthy life expectancy         0
Freedom to make life choices    0
Generosity                      0
dtype: int64

In [164]:
#Display number missing values per column
happiness2019.isnull().sum().sort_values(ascending = False)

Overall rank                    0
Country or region               0
Score                           0
GDP per capita                  0
Social support                  0
Healthy life expectancy         0
Freedom to make life choices    0
Generosity                      0
Perceptions of corruption       0
dtype: int64

In [165]:
# displaying the row with the missing value in 2018 dataset
# Checked other sources with the same data set and found the missing values which is 0.133
happiness2018[happiness2018['Perceptions of corruption'].isna()]

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
19,20,United Arab Emirates,6.774,2.096,0.776,0.67,0.284,0.186,NaN

In [166]:
#Replacing the null value with the true value
happiness2018.loc[happiness2018['Country or region'] == 'United Arab Emirates', 'Perceptions of corruption'] = 0.133

In [167]:
#Dispalying the row after adding the missing value
happiness2018[happiness2018['Country or region'] == 'United Arab Emirates']

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
19,20,United Arab Emirates,6.774,2.096,0.776,0.67,0.284,0.186,0.133

In [168]:
#Ensuring there is no missing values left in the 2018 dataset
happiness2018.isnull().sum().sort_values(ascending = False)

Overall rank                    0
Country or region               0
Score                           0
GDP per capita                  0
Social support                  0
Healthy life expectancy         0
Freedom to make life choices    0
Generosity                      0
Perceptions of corruption       0
dtype: int64

#### 7. Check Accuracy:

Verify that the data is correct and precise. This could involve comparing data samples with known sources or using validation rules.

**The process includes:**
1. Validating the appropriateness of data types for the dataset.
2. Identifying outliers  using established validation  rule

#### World Happiness Report 2015

In [177]:
# check columns types 
happiness2015.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 158 entries, 0 to 157
Data columns (total 12 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Country                        158 non-null    object
 1   Region                         158 non-null    object
 2   Happiness Rank                 158 non-null    int64
 3   Happiness Score                158 non-null    float64
 4   Standard Error                 158 non-null    float64
 5   Economy (GDP per Capita)       158 non-null    float64
 6   Family                         158 non-null    float64
 7   Health (Life Expectancy)       158 non-null    float64
 8   Freedom                        158 non-null    float64
 9   Trust (Government Corruption)  158 non-null    float64
 10  Generosity                     158 non-null    float64
 11  Dystopia Residual              158 non-null    float64
dtypes: float64(9), int64(1), object(2)
memory usage: 14.9+ KB

In [180]:
#We can see here that they are all Countries with the correct name format
pd.set_option("display.max_rows", None)
happiness2015['Country'].value_counts()

Switzerland                 1
Bangladesh                  1
Greece                      1
Lebanon                     1
Hungary                     1
Honduras                    1
Tajikistan                  1
Tunisia                     1
Palestinian Territories     1
Iran                        1
Mongolia                    1
Ukraine                     1
Iraq                        1
South Africa                1
Ghana                       1
Zimbabwe                    1
Liberia                     1
India                       1
Swaziland                   1
Laos                        1
Haiti                       1
Latvia                      1
Jordan                      1
Montenegro                  1
China                       1
Zambia                      1
Romania                     1
Serbia                      1
Portugal                    1
Philippines                 1
Dominican Republic          1
Somaliland region           1
Morocco                     1
Macedonia                   1
Mozambique                  1
Albania                     1
Bosnia and Herzegovina      1
Lesotho                     1
Sudan                       1
Congo (Kinshasa)            1
Iceland                     1
Chad                        1
Senegal                     1
Gabon                       1
Niger                       1
Cambodia                    1
Tanzania                    1
Madagascar                  1
Central African Republic    1
Guinea                      1
Comoros                     1
Ivory Coast                 1
Burkina Faso                1
Afghanistan                 1
Rwanda                      1
Benin                       1
Syria                       1
Burundi                     1
Uganda                      1
Congo (Brazzaville)         1
Nepal                       1
Myanmar                     1
Ethiopia                    1
Sierra Leone                1
Mauritania                  1
Kenya                       1
Djibouti                    1
Armenia                     1
Botswana                    1
Georgia                     1
Mali                        1
Malawi                      1
Sri Lanka                   1
Cameroon                    1
Bulgaria                    1
Egypt                       1
Yemen                       1
Angola                      1
Pakistan                    1
Azerbaijan                  1
Bhutan                      1
Argentina                   1
Venezuela                   1
Singapore                   1
Panama                      1
Germany                     1
Chile                       1
Qatar                       1
France                      1
Czech Republic              1
United Kingdom              1
Uruguay                     1
Colombia                    1
Thailand                    1
Saudi Arabia                1
Spain                       1
Malta                       1
Taiwan                      1
Oman                        1
United Arab Emirates        1
Nigeria                     1
Australia                   1
Denmark                     1
Norway                      1
Canada                      1
Finland                     1
Netherlands                 1
Sweden                      1
New Zealand                 1
Israel                      1
Belgium                     1
Costa Rica                  1
Austria                     1
Mexico                      1
United States               1
Brazil                      1
Luxembourg                  1
Ireland                     1
Kuwait                      1
Suriname                    1
Trinidad and Tobago         1
Kosovo                      1
Croatia                     1
Libya                       1
Russia                      1
Jamaica                     1
North Cyprus                1
Cyprus                      1
Algeria                     1
Turkmenistan                1
El Salvador                 1
Mauritius                   1
Hong Kong                   1
Estonia                     1
Indonesia                   1
Vietnam                     1
Turkey                      1
Kyrgyzstan                  1
Malaysia                    1
Poland                      1
Belarus                     1
Peru                        1
Guatemala                   1
Uzbekistan                  1
Slovakia                    1
Japan                       1
South Korea                 1
Ecuador                     1
Bahrain                     1
Italy                       1
Bolivia                     1
Moldova                     1
Paraguay                    1
Kazakhstan                  1
Slovenia                    1
Lithuania                   1
Nicaragua                   1
Togo                        1
Name: Country, dtype: int64

In [181]:
#10 Regions with the correct format
happiness2015['Region'].value_counts()

Sub-Saharan Africa                 40
Central and Eastern Europe         29
Latin America and Caribbean        22
Western Europe                     21
Middle East and Northern Africa    20
Southeastern Asia                   9
Southern Asia                       7
Eastern Asia                        6
North America                       2
Australia and New Zealand           2
Name: Region, dtype: int64

In [185]:
#They are moslty floats with five decimal points. However, they are floats with less number of decimal
#ponits, but I believe this is not a problem because for example 0.271 is treated the same as 0.27100
happiness2015['Economy (GDP per Capita)'].values

array([1.39651, 1.30232, 1.32548, 1.459  , 1.32629, 1.29025, 1.32944,
       1.33171, 1.25018, 1.33358, 1.22857, 0.95578, 1.33723, 1.02054,
       1.39451, 0.98124, 1.56391, 1.33596, 1.30782, 1.42727, 1.26637,
       1.36011, 1.04424, 1.52186, 1.06353, 1.32792, 1.10715, 1.69042,
       1.27778, 1.05351, 1.17898, 1.06166, 0.91861, 0.9669 , 1.39541,
       1.23011, 1.2074 , 1.29098, 1.55422, 0.99534, 1.21183, 0.76454,
       0.74553, 0.63244, 1.16891, 1.27074, 1.24461, 0.86402, 1.32376,
       1.25114, 0.68133, 0.59448, 0.75985, 1.12254, 1.18498, 1.14723,
       0.59325, 0.90019, 1.03192, 1.12555, 1.12486, 1.08254, 1.13145,
       1.13764, 0.81038, 1.20806, 1.20813, 0.93929, 0.80148, 0.95847,
       1.00761, 1.38604, 1.15174, 0.82827, 0.63216, 1.06098, 0.47428,
       0.65435, 0.77042, 1.02389, 0.59543, 0.90198, 0.97438, 0.89012,
       0.47038, 1.04345, 0.92053, 1.15991, 1.11312, 0.70532, 0.18847,
       0.73479, 0.91851, 0.08308, 0.87867, 0.83223, 0.37545, 0.89537,
       0.59066, 0.82819, 0.71206, 1.15406, 1.02564, 1.12094, 0.59532,
       0.39047, 0.88113, 0.59867, 0.39753, 1.0088 , 0.79907, 0.98549,
       0.92049, 0.54558, 0.271  , 0.0712 , 0.64499, 0.52107, 0.26673,
       0.     , 0.35997, 0.19073, 0.33024, 0.45407, 0.36471, 0.44025,
       0.76821, 0.99355, 0.27108, 0.7419 , 0.01604, 0.83524, 0.4225 ,
       1.01216, 0.8818 , 0.54649, 0.75778, 0.26074, 0.67866, 0.23906,
       0.21102, 0.36498, 1.06024, 0.0694 , 0.46038, 0.2852 , 0.20824,
       0.0785 , 0.34193, 0.17417, 0.46534, 0.25812, 0.31982, 0.22208,
       0.28665, 0.6632 , 0.0153 , 0.20868])

In [196]:
happiness2015['Happiness Rank'].values #They are correct

array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
        14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
        27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
        40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
        53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
        66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
        79,  80,  81,  82,  82,  84,  85,  86,  87,  88,  89,  90,  91,
        92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103, 104,
       105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117,
       118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130,
       131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143,
       144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156,
       157, 158], dtype=int64)

In [197]:
happiness2015['Happiness Score'].values #the same as Economy GDP per capita

array([7.587, 7.561, 7.527, 7.522, 7.427, 7.406, 7.378, 7.364, 7.286,
       7.284, 7.278, 7.226, 7.2  , 7.187, 7.119, 6.983, 6.946, 6.94 ,
       6.937, 6.901, 6.867, 6.853, 6.81 , 6.798, 6.786, 6.75 , 6.67 ,
       6.611, 6.575, 6.574, 6.505, 6.485, 6.477, 6.455, 6.411, 6.329,
       6.302, 6.298, 6.295, 6.269, 6.168, 6.13 , 6.123, 6.003, 5.995,
       5.987, 5.984, 5.975, 5.96 , 5.948, 5.89 , 5.889, 5.878, 5.855,
       5.848, 5.833, 5.828, 5.824, 5.813, 5.791, 5.77 , 5.759, 5.754,
       5.716, 5.709, 5.695, 5.689, 5.605, 5.589, 5.548, 5.477, 5.474,
       5.429, 5.399, 5.36 , 5.332, 5.286, 5.268, 5.253, 5.212, 5.194,
       5.192, 5.192, 5.14 , 5.129, 5.124, 5.123, 5.102, 5.098, 5.073,
       5.057, 5.013, 5.007, 4.971, 4.959, 4.949, 4.898, 4.885, 4.876,
       4.874, 4.867, 4.857, 4.839, 4.8  , 4.788, 4.786, 4.739, 4.715,
       4.694, 4.686, 4.681, 4.677, 4.642, 4.633, 4.61 , 4.571, 4.565,
       4.55 , 4.518, 4.517, 4.514, 4.512, 4.507, 4.436, 4.419, 4.369,
       4.35 , 4.332, 4.307, 4.297, 4.292, 4.271, 4.252, 4.218, 4.194,
       4.077, 4.033, 3.995, 3.989, 3.956, 3.931, 3.904, 3.896, 3.845,
       3.819, 3.781, 3.681, 3.678, 3.667, 3.656, 3.655, 3.587, 3.575,
       3.465, 3.34 , 3.006, 2.905, 2.839])

In [201]:
happiness2015['Family'].values #the same as Economy GDP per capita and Happiness score

array([1.34951, 1.40223, 1.36058, 1.33095, 1.32261, 1.31826, 1.28017,
       1.28907, 1.31967, 1.30923, 1.22393, 1.23788, 1.29704, 0.91451,
       1.24711, 1.23287, 1.21963, 1.36948, 1.28566, 1.12575, 1.28548,
       1.08182, 1.25596, 1.02   , 1.1985 , 1.29937, 1.12447, 1.0786 ,
       1.26038, 1.24823, 1.20643, 1.2089 , 1.24018, 1.26504, 1.08393,
       1.31379, 1.30203, 1.07617, 1.16594, 0.972  , 1.18354, 1.02507,
       1.04356, 1.34043, 1.26999, 1.25712, 0.95774, 0.99903, 1.21624,
       1.19777, 0.97841, 1.01528, 1.30477, 1.12241, 1.27385, 1.25745,
       1.14184, 0.97459, 1.23289, 1.27948, 1.07023, 0.79624, 1.11862,
       1.23617, 1.15102, 1.07008, 0.89318, 1.07772, 0.81198, 1.22668,
       0.98521, 1.05818, 1.22791, 1.08708, 0.91226, 0.94632, 1.15115,
       0.90432, 1.10395, 0.93793, 0.41411, 1.05392, 0.90557, 0.94675,
       0.91612, 0.88588, 1.00964, 1.13935, 1.09562, 1.03516, 0.95152,
       0.64095, 1.00232, 1.02626, 0.80434, 0.91916, 1.04103, 1.17202,
       0.73803, 1.3006 , 1.07284, 0.92933, 0.80001, 1.20215, 0.95348,
       0.85563, 0.60429, 0.92558, 0.43106, 0.54447, 1.20278, 0.81889,
       1.18468, 0.67954, 1.03276, 0.78968, 0.38174, 1.01404, 0.74302,
       1.0012 , 0.86449, 0.60406, 0.95571, 0.86908, 0.99876, 0.59207,
       0.77711, 1.10464, 0.70905, 0.38562, 0.41134, 1.01905, 0.88767,
       1.10614, 0.747  , 0.68093, 0.8604 , 1.03526, 0.6629 , 0.79273,
       1.13299, 0.97619, 0.90528, 0.77265, 0.62736, 1.00268, 0.66801,
       0.     , 0.76062, 0.46475, 0.77115, 0.85188, 0.30285, 0.7737 ,
       0.35386, 0.47489, 0.41587, 0.13995])

In [202]:
happiness2015['Freedom'].values#the same as Economy GDP per capita

array([0.66557, 0.62877, 0.64938, 0.66973, 0.63297, 0.64169, 0.61576,
       0.6598 , 0.63938, 0.65124, 0.41319, 0.63376, 0.62433, 0.48181,
       0.54604, 0.49049, 0.61583, 0.61777, 0.5845 , 0.64157, 0.59625,
       0.63274, 0.42908, 0.54252, 0.5421 , 0.61477, 0.44132, 0.6404 ,
       0.55011, 0.44974, 0.46364, 0.60362, 0.53466, 0.55664, 0.31048,
       0.45951, 0.60365, 0.3974 , 0.55499, 0.59657, 0.55884, 0.4035 ,
       0.57733, 0.65821, 0.31751, 0.49615, 0.33208, 0.48574, 0.45492,
       0.26236, 0.57414, 0.32818, 0.53899, 0.51649, 0.60855, 0.21342,
       0.55475, 0.41496, 0.37938, 0.53122, 0.53024, 0.25883, 0.41668,
       0.36679, 0.50442, 0.49027, 0.40672, 0.28579, 0.24749, 0.4761 ,
       0.56066, 0.59608, 0.44888, 0.46611, 0.59444, 0.22815, 0.43477,
       0.34334, 0.53206, 0.3703 , 0.12102, 0.40661, 0.1826 , 0.51697,
       0.48827, 0.35068, 0.20107, 0.51469, 0.29671, 0.62545, 0.46582,
       0.41691, 0.33457, 0.34037, 0.35733, 0.09245, 0.31767, 0.57672,
       0.59591, 0.43626, 0.30658, 0.07699, 0.33916, 0.32112, 0.40148,
       0.47216, 0.26268, 0.24499, 0.4082 , 0.30033, 0.25123, 0.     ,
       0.33207, 0.42342, 0.25861, 0.28531, 0.39786, 0.10081, 0.24425,
       0.22605, 0.38282, 0.4345 , 0.4084 , 0.24232, 0.42215, 0.46074,
       0.19847, 0.49495, 0.44017, 0.40577, 0.43054, 0.53726, 0.49309,
       0.30587, 0.17288, 0.35571, 0.10384, 0.38857, 0.41466, 0.22917,
       0.45727, 0.36772, 0.31914, 0.47692, 0.66246, 0.32878, 0.19184,
       0.48879, 0.23501, 0.37725, 0.46866, 0.39493, 0.23414, 0.59201,
       0.4845 , 0.15684, 0.1185 , 0.36453])

In [204]:
happiness2015['Generosity'].values #the same as Economy GDP per capita

array([0.29678, 0.4363 , 0.34139, 0.34699, 0.45811, 0.23351, 0.4761 ,
       0.36262, 0.47501, 0.43562, 0.33172, 0.25497, 0.33088, 0.14074,
       0.40105, 0.14574, 0.28034, 0.45901, 0.2225 , 0.26428, 0.51912,
       0.21542, 0.05841, 0.31105, 0.24434, 0.28214, 0.33363, 0.32573,
       0.12332, 0.11451, 0.10686, 0.2324 , 0.18401, 0.5763 , 0.13706,
       0.18227, 0.51752, 0.25376, 0.16228, 0.16991, 0.31844, 0.10692,
       0.27489, 0.22837, 0.16893, 0.10705, 0.18557, 0.11541, 0.17362,
       0.22823, 0.20536, 0.20951, 0.3424 , 0.11827, 0.25328, 0.02641,
       0.27815, 0.14982, 0.11046, 0.16759, 0.33075, 0.05444, 0.18295,
       0.00199, 0.2123 , 0.26169, 0.30638, 0.07822, 0.2831 , 0.16979,
       0.37744, 0.39478, 0.0868 , 0.51535, 0.1686 , 0.12253, 0.3003 ,
       0.27233, 0.47998, 0.07799, 0.33671, 0.11053, 0.1614 , 0.08185,
       0.19591, 0.13748, 0.19231, 0.13719, 0.18226, 0.24991, 0.50318,
       0.07172, 0.22359, 0.22269, 0.14272, 0.24808, 0.16388, 0.21684,
       0.42192, 0.3323 , 0.18259, 0.     , 0.21854, 0.128  , 0.23027,
       0.22974, 0.06431, 0.11251, 0.21222, 0.38086, 0.15275, 0.17922,
       0.11973, 0.23087, 0.18987, 0.24362, 0.26475, 0.19062, 0.46187,
       0.24834, 0.32296, 0.24325, 0.21488, 0.219  , 0.37542, 0.18093,
       0.07855, 0.10461, 0.79588, 0.05547, 0.33128, 0.40828, 0.20618,
       0.11921, 0.11291, 0.09131, 0.12344, 0.18798, 0.12388, 0.17441,
       0.29066, 0.20843, 0.06822, 0.19387, 0.40359, 0.34377, 0.21333,
       0.23835, 0.18386, 0.28657, 0.20165, 0.21747, 0.3651 , 0.22628,
       0.1826 , 0.47179, 0.19727, 0.16681])

In [205]:
happiness2015['Health (Life Expectancy)'].values #the same as Economy GDP per capita

array([0.94143, 0.94784, 0.87464, 0.88521, 0.90563, 0.88911, 0.89284,
       0.91087, 0.90837, 0.93156, 0.91387, 0.86027, 0.89042, 0.81444,
       0.86179, 0.69702, 0.91894, 0.89533, 0.89667, 0.80925, 0.90943,
       0.76276, 0.72052, 1.02525, 0.79661, 0.89186, 0.85857, 0.79733,
       0.94579, 0.78723, 0.84483, 0.8116 , 0.69077, 0.7385 , 0.72025,
       0.95562, 0.88721, 0.8753 , 0.72492, 0.6082 , 0.61483, 0.67737,
       0.64425, 0.59772, 0.78902, 0.99111, 0.96538, 0.79075, 0.74716,
       0.95446, 0.5392 , 0.61826, 0.66098, 0.64368, 0.87337, 0.73128,
       0.74314, 0.73017, 0.73608, 0.77903, 0.72394, 0.78805, 0.7038 ,
       0.66926, 0.68741, 0.92356, 0.92356, 0.61766, 0.63132, 0.53886,
       0.7095 , 1.01328, 0.77361, 0.63793, 0.74676, 0.73172, 0.65088,
       0.16007, 0.57407, 0.64045, 0.51466, 0.69639, 0.72521, 0.81658,
       0.29924, 0.7689 , 0.74836, 0.87519, 0.72437, 0.58114, 0.43873,
       0.60954, 0.73545, 0.09131, 0.81325, 0.79081, 0.07612, 0.66825,
       0.54909, 0.60268, 0.07566, 0.88213, 0.83947, 0.75905, 0.6951 ,
       0.57379, 0.73793, 0.66015, 0.60164, 0.69805, 0.6739 , 0.60237,
       0.27688, 0.40132, 0.33475, 0.34201, 0.51529, 0.36878, 0.38847,
       0.09806, 0.56874, 0.44055, 0.     , 0.35874, 0.41435, 0.36291,
       0.7299 , 0.04776, 0.48246, 0.72926, 0.22562, 0.70806, 0.23402,
       0.76649, 0.61712, 0.40064, 0.16683, 0.20583, 0.31051, 0.36315,
       0.33861, 0.4354 , 0.43372, 0.29707, 0.61114, 0.38215, 0.46721,
       0.06699, 0.1501 , 0.24009, 0.15185, 0.27125, 0.30335, 0.42864,
       0.3191 , 0.72193, 0.22396, 0.28443])

In [206]:
happiness2015['Trust (Government Corruption)'].values #the same as Economy GDP per capita

array([0.41978, 0.14145, 0.48357, 0.36503, 0.32957, 0.41372, 0.31814,
       0.43844, 0.42922, 0.35637, 0.07785, 0.10583, 0.18676, 0.21312,
       0.1589 , 0.17521, 0.37798, 0.28703, 0.2254 , 0.38583, 0.32067,
       0.32524, 0.11069, 0.4921 , 0.0927 , 0.21843, 0.12869, 0.52208,
       0.20646, 0.08484, 0.02652, 0.24558, 0.0512 , 0.03187, 0.32524,
       0.06398, 0.13586, 0.08129, 0.25609, 0.13633, 0.0114 , 0.11776,
       0.09472, 0.30826, 0.03431, 0.1806 , 0.07857, 0.1809 , 0.306  ,
       0.02901, 0.088  , 0.01615, 0.08242, 0.08454, 0.03787, 0.01031,
       0.19317, 0.05989, 0.1909 , 0.04212, 0.10501, 0.0243 , 0.11023,
       0.03005, 0.02299, 0.1428 , 0.06146, 0.17383, 0.04741, 0.30844,
       0.07521, 0.37124, 0.15184, 0.     , 0.10441, 0.15746, 0.04232,
       0.0403 , 0.15445, 0.16065, 0.10464, 0.14293, 0.14296, 0.02781,
       0.12468, 0.00649, 0.02617, 0.01078, 0.06332, 0.12279, 0.39928,
       0.08546, 0.05327, 0.15603, 0.06413, 0.00227, 0.12504, 0.14234,
       0.24249, 0.02666, 0.0306 , 0.01397, 0.04582, 0.02758, 0.06825,
       0.15072, 0.06358, 0.12905, 0.12569, 0.05863, 0.02961, 0.13788,
       0.08884, 0.04355, 0.08079, 0.06232, 0.08492, 0.1466 , 0.17175,
       0.07625, 0.05907, 0.15048, 0.08786, 0.17461, 0.05839, 0.28105,
       0.039  , 0.12474, 0.19034, 0.38331, 0.06977, 0.09179, 0.05786,
       0.00872, 0.06324, 0.07854, 0.07122, 0.12352, 0.11686, 0.199  ,
       0.07267, 0.10713, 0.11091, 0.15639, 0.07247, 0.05747, 0.08124,
       0.08289, 0.05269, 0.12139, 0.17922, 0.12832, 0.09719, 0.55191,
       0.0801 , 0.18906, 0.10062, 0.10731])

In [208]:
happiness2015['Dystopia Residual'].values #the same as Economy GDP per capita

array([2.51738, 2.70201, 2.49204, 2.46531, 2.45176, 2.61955, 2.4657 ,
       2.37119, 2.26425, 2.26646, 3.08854, 3.17728, 2.5332 , 3.60214,
       2.51011, 3.26001, 1.96961, 1.9757 , 2.41484, 2.24743, 1.96994,
       2.47489, 3.19131, 1.88501, 2.84848, 2.11569, 2.67585, 1.55674,
       2.21126, 2.836  , 2.67782, 2.32142, 2.85737, 2.31945, 2.43872,
       2.12367, 1.6488 , 2.32323, 1.87634, 2.79094, 2.26882, 3.035  ,
       2.74255, 2.23741, 2.24639, 1.68435, 2.21978, 2.53942, 1.73797,
       2.02518, 2.82334, 3.10712, 2.18896, 2.24729, 1.61583, 2.44649,
       2.32407, 2.5945 , 2.1309 , 1.86565, 1.88541, 2.75414, 2.09066,
       2.27394, 2.32038, 1.59888, 1.88931, 2.43209, 2.76579, 1.86984,
       1.76145, 0.65429, 1.58782, 1.86399, 2.20173, 2.08528, 2.2327 ,
       2.89319, 1.63794, 2.00073, 3.10709, 1.87996, 2.10017, 1.8604 ,
       2.6343 , 1.93129, 2.025  , 1.26462, 1.62215, 1.7536 , 2.11032,
       2.45373, 1.73933, 3.05137, 1.89894, 2.06367, 2.79832, 1.21305,
       1.73799, 1.34759, 2.48676, 1.80101, 1.57059, 1.24074, 1.84408,
       2.11399, 2.12466, 2.04384, 2.51767, 1.6944 , 1.5714 , 1.95335,
       1.71956, 2.30919, 2.44191, 2.77729, 2.27513, 2.20857, 2.24173,
       2.86712, 1.95637, 2.44876, 2.51009, 2.11773, 1.78555, 2.05125,
       1.75873, 1.46181, 1.41805, 1.59541, 2.80791, 0.67108, 1.95071,
       0.89991, 1.59927, 1.92313, 1.94939, 1.79293, 1.68135, 1.95812,
       1.42766, 1.44395, 0.99895, 1.87877, 0.98195, 1.38079, 1.851  ,
       2.7223 , 1.94296, 1.99172, 1.41723, 1.46494, 1.9521 , 0.67042,
       1.63328, 0.32858, 1.83302, 1.56726])

In [210]:
happiness2015['Standard Error'].values #the same as Economy GDP per capita

array([0.03411, 0.04884, 0.03328, 0.0388 , 0.03553, 0.0314 , 0.02799,
       0.03157, 0.03371, 0.04083, 0.0347 , 0.04454, 0.03751, 0.04176,
       0.03839, 0.04076, 0.03499, 0.03676, 0.03595, 0.03729, 0.01866,
       0.05335, 0.06476, 0.0378 , 0.0491 , 0.01848, 0.058  , 0.06257,
       0.03512, 0.04612, 0.04168, 0.04539, 0.05051, 0.03557, 0.04633,
       0.03468, 0.04206, 0.03868, 0.04456, 0.09811, 0.10895, 0.05618,
       0.05224, 0.04361, 0.04267, 0.03581, 0.04098, 0.04528, 0.05412,
       0.03914, 0.05642, 0.03799, 0.04563, 0.04114, 0.04251, 0.03843,
       0.05371, 0.04615, 0.03938, 0.04263, 0.0433 , 0.04394, 0.07832,
       0.03135, 0.13693, 0.05635, 0.0558 , 0.05099, 0.05018, 0.04175,
       0.07197, 0.05051, 0.04013, 0.02596, 0.03107, 0.03864, 0.03823,
       0.04192, 0.03225, 0.03363, 0.03726, 0.04524, 0.05235, 0.02424,
       0.06988, 0.06607, 0.04864, 0.04802, 0.0464 , 0.04934, 0.06161,
       0.0342 , 0.05376, 0.07896, 0.05013, 0.06913, 0.09438, 0.07446,
       0.06698, 0.03313, 0.08742, 0.05062, 0.04337, 0.06107, 0.05648,
       0.03198, 0.03589, 0.04394, 0.03077, 0.04449, 0.04412, 0.05232,
       0.04585, 0.04742, 0.0429 , 0.11068, 0.02043, 0.0674 , 0.07331,
       0.0368 , 0.03607, 0.0378 , 0.07068, 0.03947, 0.04734, 0.08096,
       0.04763, 0.04934, 0.04351, 0.04221, 0.0613 , 0.03751, 0.04678,
       0.04828, 0.0326 , 0.04367, 0.04758, 0.05602, 0.06682, 0.04797,
       0.04317, 0.03608, 0.04547, 0.03602, 0.05069, 0.05061, 0.03633,
       0.06112, 0.0383 , 0.0359 , 0.05141, 0.04324, 0.03084, 0.03464,
       0.03656, 0.05015, 0.08658, 0.06727])

In [253]:
#renaming columns to have underscores
happiness2015.columns = happiness2015.columns.str.replace(" ", "_")

In [254]:
#checking new columns 
happiness2015.head()

,Country,Region,Happiness_Rank,Happiness_Score,Standard_Error,Economy_(GDP_per_Capita),Family,Health_(Life_Expectancy),Freedom,Trust_(Government_Corruption),Generosity,Dystopia_Residual
0,Switzerland,Western Europe,1,7.58700,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.56100,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.52700,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.52200,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.42700,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

#### World Happiness Report 2016

In [211]:
happiness2016.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157 entries, 0 to 156
Data columns (total 13 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Country                        157 non-null    object
 1   Region                         157 non-null    object
 2   Happiness Rank                 157 non-null    int64
 3   Happiness Score                157 non-null    float64
 4   Lower Confidence Interval      157 non-null    float64
 5   Upper Confidence Interval      157 non-null    float64
 6   Economy (GDP per Capita)       157 non-null    float64
 7   Family                         157 non-null    float64
 8   Health (Life Expectancy)       157 non-null    float64
 9   Freedom                        157 non-null    float64
 10  Trust (Government Corruption)  157 non-null    float64
 11  Generosity                     157 non-null    float64
 12  Dystopia Residual              157 non-null    float64
dtypes: float64(10), int64(1), object(2)
memory usage: 16.1+ KB

In [212]:
#Checking for formatting issues
happiness2016['Country'].values #They are correct

array(['Denmark', 'Switzerland', 'Iceland', 'Norway', 'Finland', 'Canada',
       'Netherlands', 'New Zealand', 'Australia', 'Sweden', 'Israel',
       'Austria', 'United States', 'Costa Rica', 'Puerto Rico', 'Germany',
       'Brazil', 'Belgium', 'Ireland', 'Luxembourg', 'Mexico',
       'Singapore', 'United Kingdom', 'Chile', 'Panama', 'Argentina',
       'Czech Republic', 'United Arab Emirates', 'Uruguay', 'Malta',
       'Colombia', 'France', 'Thailand', 'Saudi Arabia', 'Taiwan',
       'Qatar', 'Spain', 'Algeria', 'Guatemala', 'Suriname', 'Kuwait',
       'Bahrain', 'Trinidad and Tobago', 'Venezuela', 'Slovakia',
       'El Salvador', 'Malaysia', 'Nicaragua', 'Uzbekistan', 'Italy',
       'Ecuador', 'Belize', 'Japan', 'Kazakhstan', 'Moldova', 'Russia',
       'Poland', 'South Korea', 'Bolivia', 'Lithuania', 'Belarus',
       'North Cyprus', 'Slovenia', 'Peru', 'Turkmenistan', 'Mauritius',
       'Libya', 'Latvia', 'Cyprus', 'Paraguay', 'Romania', 'Estonia',
       'Jamaica', 'Croatia', 'Hong Kong', 'Somalia', 'Kosovo', 'Turkey',
       'Indonesia', 'Jordan', 'Azerbaijan', 'Philippines', 'China',
       'Bhutan', 'Kyrgyzstan', 'Serbia', 'Bosnia and Herzegovina',
       'Montenegro', 'Dominican Republic', 'Morocco', 'Hungary',
       'Pakistan', 'Lebanon', 'Portugal', 'Macedonia', 'Vietnam',
       'Somaliland Region', 'Tunisia', 'Greece', 'Tajikistan', 'Mongolia',
       'Laos', 'Nigeria', 'Honduras', 'Iran', 'Zambia', 'Nepal',
       'Palestinian Territories', 'Albania', 'Bangladesh', 'Sierra Leone',
       'Iraq', 'Namibia', 'Cameroon', 'Ethiopia', 'South Africa',
       'Sri Lanka', 'India', 'Myanmar', 'Egypt', 'Armenia', 'Kenya',
       'Ukraine', 'Ghana', 'Congo (Kinshasa)', 'Georgia',
       'Congo (Brazzaville)', 'Senegal', 'Bulgaria', 'Mauritania',
       'Zimbabwe', 'Malawi', 'Sudan', 'Gabon', 'Mali', 'Haiti',
       'Botswana', 'Comoros', 'Ivory Coast', 'Cambodia', 'Angola',
       'Niger', 'South Sudan', 'Chad', 'Burkina Faso', 'Uganda', 'Yemen',
       'Madagascar', 'Tanzania', 'Liberia', 'Guinea', 'Rwanda', 'Benin',
       'Afghanistan', 'Togo', 'Syria', 'Burundi'], dtype=object)

In [215]:
happiness2016['Region'].value_counts() #10 regions like the 2015 dataset and they are correct

Sub-Saharan Africa                 38
Central and Eastern Europe         29
Latin America and Caribbean        24
Western Europe                     21
Middle East and Northern Africa    19
Southeastern Asia                   9
Southern Asia                       7
Eastern Asia                        6
North America                       2
Australia and New Zealand           2
Name: Region, dtype: int64

In [216]:
happiness2016['Happiness Rank'].values #They are correct and unique

array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
        14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
        27,  28,  29,  30,  31,  32,  33,  34,  34,  36,  37,  38,  39,
        40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
        53,  54,  55,  56,  57,  57,  59,  60,  61,  62,  63,  64,  65,
        66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
        79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,
        92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103, 104,
       105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117,
       118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130,
       131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143,
       144, 145, 145, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156,
       157], dtype=int64)

In [217]:
happiness2016['Happiness Score'].values #we also here see what we saw in 2015 dataset where the floats 
#have different number of decimal points and we are going to see the same for the following columns

array([7.526, 7.509, 7.501, 7.498, 7.413, 7.404, 7.339, 7.334, 7.313,
       7.291, 7.267, 7.119, 7.104, 7.087, 7.039, 6.994, 6.952, 6.929,
       6.907, 6.871, 6.778, 6.739, 6.725, 6.705, 6.701, 6.65 , 6.596,
       6.573, 6.545, 6.488, 6.481, 6.478, 6.474, 6.379, 6.379, 6.375,
       6.361, 6.355, 6.324, 6.269, 6.239, 6.218, 6.168, 6.084, 6.078,
       6.068, 6.005, 5.992, 5.987, 5.977, 5.976, 5.956, 5.921, 5.919,
       5.897, 5.856, 5.835, 5.835, 5.822, 5.813, 5.802, 5.771, 5.768,
       5.743, 5.658, 5.648, 5.615, 5.56 , 5.546, 5.538, 5.528, 5.517,
       5.51 , 5.488, 5.458, 5.44 , 5.401, 5.389, 5.314, 5.303, 5.291,
       5.279, 5.245, 5.196, 5.185, 5.177, 5.163, 5.161, 5.155, 5.151,
       5.145, 5.132, 5.129, 5.123, 5.121, 5.061, 5.057, 5.045, 5.033,
       4.996, 4.907, 4.876, 4.875, 4.871, 4.813, 4.795, 4.793, 4.754,
       4.655, 4.643, 4.635, 4.575, 4.574, 4.513, 4.508, 4.459, 4.415,
       4.404, 4.395, 4.362, 4.36 , 4.356, 4.324, 4.276, 4.272, 4.252,
       4.236, 4.219, 4.217, 4.201, 4.193, 4.156, 4.139, 4.121, 4.073,
       4.028, 3.974, 3.956, 3.916, 3.907, 3.866, 3.856, 3.832, 3.763,
       3.739, 3.739, 3.724, 3.695, 3.666, 3.622, 3.607, 3.515, 3.484,
       3.36 , 3.303, 3.069, 2.905])

In [218]:
happiness2016['Lower Confidence Interval'].values

array([7.46 , 7.428, 7.333, 7.421, 7.351, 7.335, 7.284, 7.264, 7.241,
       7.227, 7.199, 7.045, 7.02 , 6.999, 6.794, 6.93 , 6.875, 6.861,
       6.836, 6.804, 6.68 , 6.674, 6.647, 6.615, 6.601, 6.56 , 6.515,
       6.494, 6.456, 6.409, 6.384, 6.397, 6.396, 6.287, 6.305, 6.178,
       6.288, 6.227, 6.213, 6.073, 6.154, 6.128, 5.95 , 5.973, 5.996,
       5.967, 5.921, 5.877, 5.896, 5.898, 5.88 , 5.71 , 5.85 , 5.837,
       5.823, 5.789, 5.749, 5.747, 5.74 , 5.734, 5.723, 5.67 , 5.683,
       5.647, 5.58 , 5.507, 5.406, 5.486, 5.442, 5.453, 5.427, 5.437,
       5.315, 5.402, 5.362, 5.321, 5.308, 5.295, 5.237, 5.187, 5.226,
       5.16 , 5.199, 5.138, 5.103, 5.083, 5.063, 5.055, 5.037, 5.058,
       5.056, 5.038, 5.031, 5.03 , 5.017, 4.991, 4.934, 4.965, 4.935,
       4.923, 4.838, 4.742, 4.75 , 4.75 , 4.703, 4.645, 4.698, 4.649,
       4.546, 4.56 , 4.505, 4.446, 4.374, 4.417, 4.425, 4.371, 4.322,
       4.351, 4.327, 4.259, 4.266, 4.259, 4.236, 4.185, 4.191, 4.164,
       4.107, 4.151, 4.104, 4.127, 4.101, 4.041, 3.928, 4.03 , 3.988,
       3.893, 3.875, 3.86 , 3.826, 3.798, 3.753, 3.781, 3.596, 3.672,
       3.647, 3.629, 3.621, 3.621, 3.561, 3.463, 3.533, 3.444, 3.404,
       3.288, 3.192, 2.936, 2.732])

In [219]:
happiness2016['Upper Confidence Interval'].values

array([7.592, 7.59 , 7.669, 7.575, 7.475, 7.473, 7.394, 7.404, 7.385,
       7.355, 7.335, 7.193, 7.188, 7.175, 7.284, 7.058, 7.029, 6.997,
       6.978, 6.938, 6.876, 6.804, 6.803, 6.795, 6.801, 6.74 , 6.677,
       6.652, 6.634, 6.567, 6.578, 6.559, 6.552, 6.471, 6.453, 6.572,
       6.434, 6.483, 6.435, 6.465, 6.324, 6.308, 6.386, 6.195, 6.16 ,
       6.169, 6.089, 6.107, 6.078, 6.056, 6.072, 6.202, 5.992, 6.001,
       5.971, 5.923, 5.921, 5.923, 5.904, 5.892, 5.881, 5.872, 5.853,
       5.839, 5.736, 5.789, 5.824, 5.634, 5.65 , 5.623, 5.629, 5.597,
       5.705, 5.574, 5.554, 5.559, 5.494, 5.483, 5.391, 5.419, 5.356,
       5.398, 5.291, 5.254, 5.267, 5.271, 5.263, 5.267, 5.273, 5.244,
       5.234, 5.226, 5.227, 5.216, 5.225, 5.131, 5.18 , 5.125, 5.131,
       5.069, 4.976, 5.01 , 5.   , 4.992, 4.923, 4.945, 4.888, 4.859,
       4.764, 4.726, 4.765, 4.704, 4.774, 4.609, 4.591, 4.547, 4.508,
       4.457, 4.463, 4.465, 4.454, 4.453, 4.412, 4.367, 4.353, 4.34 ,
       4.365, 4.287, 4.33 , 4.275, 4.285, 4.271, 4.35 , 4.212, 4.158,
       4.163, 4.073, 4.052, 4.006, 4.016, 3.979, 3.931, 4.068, 3.854,
       3.831, 3.849, 3.827, 3.769, 3.771, 3.781, 3.681, 3.586, 3.564,
       3.432, 3.414, 3.202, 3.078])

In [223]:
happiness2016['Economy (GDP per Capita)'].values

array([1.44178, 1.52733, 1.42666, 1.57744, 1.40598, 1.44015, 1.46468,
       1.36066, 1.44443, 1.45181, 1.33766, 1.45038, 1.50796, 1.06879,
       1.35943, 1.44787, 1.08754, 1.42539, 1.48341, 1.69752, 1.11508,
       1.64555, 1.40283, 1.2167 , 1.18306, 1.15137, 1.30915, 1.57352,
       1.18157, 1.30782, 1.03032, 1.39488, 1.0893 , 1.48953, 1.39729,
       1.82427, 1.34253, 1.05266, 0.83454, 1.09686, 1.61714, 1.44024,
       1.32572, 1.13367, 1.27973, 0.8737 , 1.25142, 0.69384, 0.73591,
       1.35495, 0.97306, 0.87616, 1.38007, 1.22943, 0.69177, 1.23228,
       1.24585, 1.35948, 0.79422, 1.2692 , 1.13062, 1.31141, 1.29947,
       0.99602, 1.08017, 1.14372, 1.06688, 1.21788, 1.31857, 0.89373,
       1.1697 , 1.27964, 0.89333, 1.18649, 1.5107 , 0.     , 0.90145,
       1.16492, 0.95104, 0.99673, 1.12373, 0.81217, 1.0278 , 0.8527 ,
       0.56044, 1.03437, 0.93383, 1.07838, 1.02787, 0.84058, 1.24142,
       0.68816, 1.12268, 1.27607, 1.0193 , 0.74037, 0.25558, 0.97724,
       1.24886, 0.48835, 0.98853, 0.68042, 0.75216, 0.69429, 1.11758,
       0.61202, 0.44626, 0.67024, 0.9553 , 0.54177, 0.36485, 1.07474,
       0.93287, 0.52497, 0.29283, 1.02416, 0.97318, 0.74036, 0.34112,
       0.95395, 0.86086, 0.52267, 0.87287, 0.63107, 0.05661, 0.83792,
       0.77109, 0.44314, 1.11306, 0.61391, 0.35041, 0.08709, 0.63069,
       1.15851, 0.31292, 0.34097, 1.09426, 0.27509, 0.55507, 0.55604,
       0.84731, 0.1327 , 0.39394, 0.42214, 0.31995, 0.34719, 0.57939,
       0.27954, 0.47155, 0.10706, 0.22415, 0.32846, 0.39499, 0.38227,
       0.28123, 0.74719, 0.06831])

In [224]:
happiness2016['Family'].values

array([1.16374, 1.14524, 1.18326, 1.1269 , 1.13464, 1.0961 , 1.02912,
       1.17278, 1.10476, 1.08764, 0.99537, 1.08383, 1.04782, 1.02152,
       1.08113, 1.09774, 1.03938, 1.05249, 1.16157, 1.03999, 0.7146 ,
       0.86758, 1.08672, 0.90587, 0.98912, 1.06612, 1.00793, 0.87114,
       1.03143, 1.09879, 1.02169, 1.00508, 1.04477, 0.84829, 0.92624,
       0.87964, 1.12945, 0.83309, 0.87119, 0.77866, 0.87758, 0.94397,
       0.98569, 1.03302, 1.08268, 0.80975, 0.88025, 0.89521, 1.1681 ,
       1.04167, 0.85974, 0.68655, 1.06054, 0.95544, 0.83132, 1.05261,
       1.04685, 0.72194, 0.83779, 1.06411, 1.04993, 0.81826, 1.05613,
       0.81255, 1.03817, 0.75695, 0.95076, 0.95025, 0.70697, 1.11111,
       0.72803, 1.05163, 0.96372, 0.60809, 0.87021, 0.33613, 0.66062,
       0.87717, 0.87625, 0.86216, 0.76042, 0.87877, 0.79381, 0.90836,
       0.95434, 0.81329, 0.64367, 0.74173, 0.99496, 0.38595, 0.93164,
       0.26135, 0.64184, 0.94367, 0.78236, 0.79117, 0.75862, 0.43165,
       0.75473, 0.75602, 1.08983, 0.5497 , 0.64498, 0.75596, 0.38857,
       0.6376 , 0.69699, 0.71629, 0.50163, 0.24749, 0.628  , 0.59205,
       0.70362, 0.62542, 0.37932, 0.96053, 0.84783, 0.29247, 0.69981,
       0.49813, 0.62477, 0.7624 , 1.01413, 0.49353, 0.80676, 0.19249,
       0.47799, 0.77416, 0.92542, 0.84142, 0.71478, 0.147  , 0.81928,
       0.72368, 0.86333, 0.29561, 0.89186, 0.60323, 0.57576, 0.5375 ,
       0.66366, 0.6053 , 0.18519, 0.63178, 0.63054, 0.90981, 0.47493,
       0.46115, 0.77623, 0.50353, 0.3109 , 0.61586, 0.10419, 0.11037,
       0.     , 0.14866, 0.23442])

In [225]:
happiness2016['Freedom'].values

array([0.57941, 0.58557, 0.56624, 0.59609, 0.57104, 0.5737 , 0.55211,
       0.58147, 0.56837, 0.58218, 0.36432, 0.54355, 0.48163, 0.55225,
       0.46823, 0.53466, 0.40425, 0.51354, 0.54008, 0.5487 , 0.37709,
       0.4877 , 0.50036, 0.37789, 0.48927, 0.42284, 0.41418, 0.56215,
       0.54388, 0.54994, 0.44735, 0.46562, 0.49553, 0.37904, 0.32377,
       0.56679, 0.37545, 0.21006, 0.50379, 0.52234, 0.43166, 0.47375,
       0.48453, 0.19847, 0.23391, 0.37269, 0.39031, 0.46582, 0.60848,
       0.18827, 0.4027 , 0.51231, 0.46761, 0.4052 , 0.25202, 0.32682,
       0.4519 , 0.25168, 0.50961, 0.18929, 0.29091, 0.43596, 0.53164,
       0.37502, 0.37408, 0.46145, 0.40672, 0.27996, 0.29507, 0.46235,
       0.36712, 0.41511, 0.43597, 0.23907, 0.48079, 0.56778, 0.14396,
       0.23889, 0.39237, 0.36023, 0.35327, 0.54854, 0.44012, 0.46074,
       0.40212, 0.15718, 0.09511, 0.15111, 0.52259, 0.25646, 0.1977 ,
       0.14622, 0.26228, 0.44727, 0.27668, 0.55954, 0.3913 , 0.23553,
       0.05822, 0.43408, 0.35972, 0.52168, 0.27854, 0.26755, 0.22544,
       0.42662, 0.37012, 0.17744, 0.31866, 0.39778, 0.30685, 0.24856,
       0.48614, 0.42736, 0.36703, 0.42483, 0.50817, 0.40285, 0.42692,
       0.18847, 0.14037, 0.40576, 0.12859, 0.40973, 0.15602, 0.32461,
       0.37938, 0.31056, 0.21219, 0.1268 , 0.25429, 0.4143 , 0.     ,
       0.28098, 0.27544, 0.12072, 0.44089, 0.15412, 0.40663, 0.58852,
       0.00589, 0.38041, 0.19662, 0.12807, 0.3337 , 0.43653, 0.2287 ,
       0.13684, 0.3176 , 0.25748, 0.30953, 0.5432 , 0.39747, 0.1643 ,
       0.34678, 0.06912, 0.0432 ])

In [226]:
happiness2016['Generosity'].values

array([0.36171, 0.28083, 0.47678, 0.37895, 0.25492, 0.44834, 0.47416,
       0.49401, 0.47407, 0.38254, 0.32288, 0.32865, 0.41077, 0.22553,
       0.22202, 0.30452, 0.15776, 0.2424 , 0.44963, 0.27571, 0.11735,
       0.32706, 0.50156, 0.31595, 0.2418 , 0.10989, 0.09929, 0.26591,
       0.18056, 0.56237, 0.15626, 0.1216 , 0.58696, 0.15457, 0.25495,
       0.32388, 0.17665, 0.07044, 0.28808, 0.16665, 0.15965, 0.17147,
       0.31935, 0.0425 , 0.13837, 0.08877, 0.41474, 0.29773, 0.34326,
       0.16684, 0.10074, 0.23684, 0.10224, 0.15011, 0.19997, 0.02736,
       0.14443, 0.18824, 0.21698, 0.02025, 0.13942, 0.26322, 0.25738,
       0.14527, 0.22567, 0.36951, 0.17087, 0.17445, 0.27906, 0.25296,
       0.12889, 0.08423, 0.22245, 0.18434, 0.40097, 0.27225, 0.27992,
       0.04707, 0.56521, 0.14262, 0.0564 , 0.21674, 0.04959, 0.48546,
       0.38432, 0.20737, 0.29889, 0.17191, 0.21286, 0.04053, 0.099  ,
       0.31185, 0.23693, 0.11691, 0.23507, 0.25075, 0.51479, 0.03936,
       0.     , 0.25998, 0.34539, 0.43079, 0.23219, 0.2044 , 0.38538,
       0.17866, 0.3816 , 0.11154, 0.1684 , 0.19132, 0.23897, 0.19589,
       0.07795, 0.2268 , 0.29522, 0.13656, 0.46978, 0.25028, 0.81971,
       0.12706, 0.07793, 0.41328, 0.20363, 0.21203, 0.25458, 0.06786,
       0.12077, 0.19103, 0.12793, 0.22686, 0.18503, 0.30968, 0.18077,
       0.06244, 0.21064, 0.47958, 0.12425, 0.1827 , 0.20338, 0.40339,
       0.12071, 0.2097 , 0.25899, 0.18667, 0.24353, 0.27102, 0.09821,
       0.2204 , 0.31472, 0.24063, 0.29914, 0.23552, 0.2018 , 0.31268,
       0.17517, 0.48397, 0.2029 ])

In [255]:
#renaming columns to have underscores
happiness2016.columns = happiness2016.columns.str.replace(" ", "_")

In [256]:
#checking new columns
happiness2016.head(2)

,Country,Region,Happiness_Rank,Happiness_Score,Lower_Confidence_Interval,Upper_Confidence_Interval,Economy_(GDP_per_Capita),Family,Health_(Life_Expectancy),Freedom,Trust_(Government_Corruption),Generosity,Dystopia_Residual
0,Denmark,Western Europe,1,7.52600,7.46000,7.59200,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171,2.73939
1,Switzerland,Western Europe,2,7.50900,7.42800,7.59000,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083,2.69463

We are seeing the same pattern and we have previous information from the descirbe and info methods. 
Until now, everything seems noraml. We're moving to check the next datasets.

#### World Happiness Report 2017

In [227]:
#As we see here, Country is an object and as the describe method informed us all of its value 
#are uniques, so we just need to check for its format. Happiness Rank is an int and as we already know
# it is unique and not duplicated. the describe method gave us a hint that there is no outliers in the
#rank column. 
#**Reminder** Starting from the year 2017 the rank is not duplicated and two countries can have the
# score, but different rannks.
#The rest of the columns are float, so they will mostly be like the float columns in the 2015 and 2016
#dataset
#The problem we're facing here is name of the columns. we need to rename them.
happiness2017.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 155 entries, 0 to 154
Data columns (total 12 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Country                        155 non-null    object
 1   Happiness.Rank                 155 non-null    int64
 2   Happiness.Score                155 non-null    float64
 3   Whisker.high                   155 non-null    float64
 4   Whisker.low                    155 non-null    float64
 5   Economy..GDP.per.Capita.       155 non-null    float64
 6   Family                         155 non-null    float64
 7   Health..Life.Expectancy.       155 non-null    float64
 8   Freedom                        155 non-null    float64
 9   Generosity                     155 non-null    float64
 10  Trust..Government.Corruption.  155 non-null    float64
 11  Dystopia.Residual              155 non-null    float64
dtypes: float64(10), int64(1), object(1)
memory usage: 14.7+ KB

In [228]:
#first, checking for country formatting
happiness2017['Country'].values #they are all correct, unique, and consistent.

array(['Norway', 'Denmark', 'Iceland', 'Switzerland', 'Finland',
       'Netherlands', 'Canada', 'New Zealand', 'Sweden', 'Australia',
       'Israel', 'Costa Rica', 'Austria', 'United States', 'Ireland',
       'Germany', 'Belgium', 'Luxembourg', 'United Kingdom', 'Chile',
       'United Arab Emirates', 'Brazil', 'Czech Republic', 'Argentina',
       'Mexico', 'Singapore', 'Malta', 'Uruguay', 'Guatemala', 'Panama',
       'France', 'Thailand', 'Taiwan Province of China', 'Spain', 'Qatar',
       'Colombia', 'Saudi Arabia', 'Trinidad and Tobago', 'Kuwait',
       'Slovakia', 'Bahrain', 'Malaysia', 'Nicaragua', 'Ecuador',
       'El Salvador', 'Poland', 'Uzbekistan', 'Italy', 'Russia', 'Belize',
       'Japan', 'Lithuania', 'Algeria', 'Latvia', 'South Korea',
       'Moldova', 'Romania', 'Bolivia', 'Turkmenistan', 'Kazakhstan',
       'North Cyprus', 'Slovenia', 'Peru', 'Mauritius', 'Cyprus',
       'Estonia', 'Belarus', 'Libya', 'Turkey', 'Paraguay',
       'Hong Kong S.A.R., China', 'Philippines', 'Serbia', 'Jordan',
       'Hungary', 'Jamaica', 'Croatia', 'Kosovo', 'China', 'Pakistan',
       'Indonesia', 'Venezuela', 'Montenegro', 'Morocco', 'Azerbaijan',
       'Dominican Republic', 'Greece', 'Lebanon', 'Portugal',
       'Bosnia and Herzegovina', 'Honduras', 'Macedonia', 'Somalia',
       'Vietnam', 'Nigeria', 'Tajikistan', 'Bhutan', 'Kyrgyzstan',
       'Nepal', 'Mongolia', 'South Africa', 'Tunisia',
       'Palestinian Territories', 'Egypt', 'Bulgaria', 'Sierra Leone',
       'Cameroon', 'Iran', 'Albania', 'Bangladesh', 'Namibia', 'Kenya',
       'Mozambique', 'Myanmar', 'Senegal', 'Zambia', 'Iraq', 'Gabon',
       'Ethiopia', 'Sri Lanka', 'Armenia', 'India', 'Mauritania',
       'Congo (Brazzaville)', 'Georgia', 'Congo (Kinshasa)', 'Mali',
       'Ivory Coast', 'Cambodia', 'Sudan', 'Ghana', 'Ukraine', 'Uganda',
       'Burkina Faso', 'Niger', 'Malawi', 'Chad', 'Zimbabwe', 'Lesotho',
       'Angola', 'Afghanistan', 'Botswana', 'Benin', 'Madagascar',
       'Haiti', 'Yemen', 'South Sudan', 'Liberia', 'Guinea', 'Togo',
       'Rwanda', 'Syria', 'Tanzania', 'Burundi',
       'Central African Republic'], dtype=object)

In [233]:
happiness2017.columns

Index(['Country', 'Happiness.Rank', 'Happiness.Score', 'Whisker.high',
       'Whisker.low', 'Economy..GDP.per.Capita.', 'Family',
       'Health..Life.Expectancy.', 'Freedom', 'Generosity',
       'Trust..Government.Corruption.', 'Dystopia.Residual'],
      dtype='object')

In [238]:
#Renaming the columns
happiness2017.rename(columns={'Happiness.Rank':'Happiness_Rank', 'Happiness.Score':'Happiness_Score',
                      'Whisker.high':'Whisker_high', 'Whisker.low':'Whisker_low',
                      'Economy..GDP.per.Capita.':'Economy_GDP_per_Capita',
                      'Health..Life.Expectancy.':'Health_Life_Expectancy',
                      'Trust..Government.Corruption.':'Trust_Government_Corruption',
                      'Dystopia.Residual':'Dystopia_Residual'}, inplace=True)

In [239]:
#Checking new names
happiness2017.head(2)

,Country,Happiness_Rank,Happiness_Score,Whisker_high,Whisker_low,Economy_GDP_per_Capita,Family,Health_Life_Expectancy,Freedom,Generosity,Trust_Government_Corruption,Dystopia_Residual
0,Norway,1,7.53700,7.59444,7.47956,1.61646,1.53352,0.79667,0.63542,0.36201,0.31596,2.27703
1,Denmark,2,7.52200,7.58173,7.46227,1.48238,1.55112,0.79257,0.62601,0.35528,0.40077,2.31371

#### World Happiness Report 2018

In [240]:
#We're seeing her fewer columns with the same datatypes as before and the same information we have
#We can predict similar pattern here, too.
happiness2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 9 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Overall rank                  156 non-null    int64
 1   Country or region             156 non-null    object
 2   Score                         156 non-null    float64
 3   GDP per capita                156 non-null    float64
 4   Social support                156 non-null    float64
 5   Healthy life expectancy       156 non-null    float64
 6   Freedom to make life choices  156 non-null    float64
 7   Generosity                    156 non-null    float64
 8   Perceptions of corruption     156 non-null    float64
dtypes: float64(7), int64(1), object(1)
memory usage: 11.1+ KB

In [241]:
#renaming all the columns to have underscores 
happiness2018.columns = happiness2018.columns.str.replace(" ", "_")

In [242]:
#cheking the new names
happiness2018.head(2)

,Overall_rank,Country_or_region,Score,GDP_per_capita,Social_support,Healthy_life_expectancy,Freedom_to_make_life_choices,Generosity,Perceptions_of_corruption
0,1,Finland,7.63200,1.30500,1.59200,0.87400,0.68100,0.20200,0.39300
1,2,Norway,7.59400,1.45600,1.58200,0.86100,0.68600,0.28600,0.34000

In [243]:
#Checking country format
happiness2018['Country_or_region'].values #Yes, they are the same as 2017 and the previous years

array(['Finland', 'Norway', 'Denmark', 'Iceland', 'Switzerland',
       'Netherlands', 'Canada', 'New Zealand', 'Sweden', 'Australia',
       'United Kingdom', 'Austria', 'Costa Rica', 'Ireland', 'Germany',
       'Belgium', 'Luxembourg', 'United States', 'Israel',
       'United Arab Emirates', 'Czech Republic', 'Malta', 'France',
       'Mexico', 'Chile', 'Taiwan', 'Panama', 'Brazil', 'Argentina',
       'Guatemala', 'Uruguay', 'Qatar', 'Saudi Arabia', 'Singapore',
       'Malaysia', 'Spain', 'Colombia', 'Trinidad & Tobago', 'Slovakia',
       'El Salvador', 'Nicaragua', 'Poland', 'Bahrain', 'Uzbekistan',
       'Kuwait', 'Thailand', 'Italy', 'Ecuador', 'Belize', 'Lithuania',
       'Slovenia', 'Romania', 'Latvia', 'Japan', 'Mauritius', 'Jamaica',
       'South Korea', 'Northern Cyprus', 'Russia', 'Kazakhstan', 'Cyprus',
       'Bolivia', 'Estonia', 'Paraguay', 'Peru', 'Kosovo', 'Moldova',
       'Turkmenistan', 'Hungary', 'Libya', 'Philippines', 'Honduras',
       'Belarus', 'Turkey', 'Pakistan', 'Hong Kong', 'Portugal', 'Serbia',
       'Greece', 'Lebanon', 'Montenegro', 'Croatia', 'Dominican Republic',
       'Algeria', 'Morocco', 'China', 'Azerbaijan', 'Tajikistan',
       'Macedonia', 'Jordan', 'Nigeria', 'Kyrgyzstan',
       'Bosnia and Herzegovina', 'Mongolia', 'Vietnam', 'Indonesia',
       'Bhutan', 'Somalia', 'Cameroon', 'Bulgaria', 'Nepal', 'Venezuela',
       'Gabon', 'Palestinian Territories', 'South Africa', 'Iran',
       'Ivory Coast', 'Ghana', 'Senegal', 'Laos', 'Tunisia', 'Albania',
       'Sierra Leone', 'Congo (Brazzaville)', 'Bangladesh', 'Sri Lanka',
       'Iraq', 'Mali', 'Namibia', 'Cambodia', 'Burkina Faso', 'Egypt',
       'Mozambique', 'Kenya', 'Zambia', 'Mauritania', 'Ethiopia',
       'Georgia', 'Armenia', 'Myanmar', 'Chad', 'Congo (Kinshasa)',
       'India', 'Niger', 'Uganda', 'Benin', 'Sudan', 'Ukraine', 'Togo',
       'Guinea', 'Lesotho', 'Angola', 'Madagascar', 'Zimbabwe',
       'Afghanistan', 'Botswana', 'Malawi', 'Haiti', 'Liberia', 'Syria',
       'Rwanda', 'Yemen', 'Tanzania', 'South Sudan',
       'Central African Republic', 'Burundi'], dtype=object)

In [245]:
#cheking one of the float values 
#as anticipated, they are like the previous datasets with floating points
happiness2018.Freedom_to_make_life_choices.values

array([0.681, 0.686, 0.683, 0.677, 0.66 , 0.638, 0.653, 0.669, 0.659,
       0.647, 0.464, 0.617, 0.632, 0.614, 0.586, 0.583, 0.632, 0.547,
       0.533, 0.284, 0.543, 0.645, 0.52 , 0.479, 0.431, 0.418, 0.597,
       0.493, 0.57 , 0.604, 0.625, 0.654, 0.509, 0.631, 0.356, 0.449,
       0.531, 0.575, 0.354, 0.461, 0.527, 0.546, 0.594, 0.724, 0.554,
       0.637, 0.281, 0.556, 0.593, 0.35 , 0.633, 0.528, 0.363, 0.553,
       0.584, 0.575, 0.244, 0.495, 0.399, 0.454, 0.423, 0.606, 0.553,
       0.541, 0.53 , 0.448, 0.232, 0.417, 0.259, 0.496, 0.643, 0.459,
       0.307, 0.324, 0.334, 0.524, 0.562, 0.288, 0.131, 0.503, 0.259,
       0.38 , 0.578, 0.077, 0.46 , 0.597, 0.43 , 0.292, 0.394, 0.468,
       0.462, 0.54 , 0.28 , 0.395, 0.618, 0.538, 0.541, 0.674, 0.454,
       0.359, 0.526, 0.133, 0.356, 0.266, 0.516, 0.459, 0.467, 0.499,
       0.406, 0.626, 0.271, 0.419, 0.355, 0.514, 0.58 , 0.585, 0.304,
       0.367, 0.519, 0.696, 0.312, 0.312, 0.531, 0.504, 0.503, 0.129,
       0.452, 0.375, 0.26 , 0.58 , 0.189, 0.312, 0.539, 0.39 , 0.45 ,
       0.44 , 0.016, 0.163, 0.434, 0.394, 0.423, 0.   , 0.221, 0.406,
       0.085, 0.557, 0.531, 0.025, 0.419, 0.088, 0.636, 0.244, 0.481,
       0.112, 0.305, 0.065])

#### World Happiness Report 2019

In [246]:
#Similar to 2018 dataset
happiness2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 9 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Overall rank                  156 non-null    int64
 1   Country or region             156 non-null    object
 2   Score                         156 non-null    float64
 3   GDP per capita                156 non-null    float64
 4   Social support                156 non-null    float64
 5   Healthy life expectancy       156 non-null    float64
 6   Freedom to make life choices  156 non-null    float64
 7   Generosity                    156 non-null    float64
 8   Perceptions of corruption     156 non-null    float64
dtypes: float64(7), int64(1), object(1)
memory usage: 11.1+ KB

In [247]:
#The foramt is correct
happiness2019['Country or region'].values

array(['Finland', 'Denmark', 'Norway', 'Iceland', 'Netherlands',
       'Switzerland', 'Sweden', 'New Zealand', 'Canada', 'Austria',
       'Australia', 'Costa Rica', 'Israel', 'Luxembourg',
       'United Kingdom', 'Ireland', 'Germany', 'Belgium', 'United States',
       'Czech Republic', 'United Arab Emirates', 'Malta', 'Mexico',
       'France', 'Taiwan', 'Chile', 'Guatemala', 'Saudi Arabia', 'Qatar',
       'Spain', 'Panama', 'Brazil', 'Uruguay', 'Singapore', 'El Salvador',
       'Italy', 'Bahrain', 'Slovakia', 'Trinidad & Tobago', 'Poland',
       'Uzbekistan', 'Lithuania', 'Colombia', 'Slovenia', 'Nicaragua',
       'Kosovo', 'Argentina', 'Romania', 'Cyprus', 'Ecuador', 'Kuwait',
       'Thailand', 'Latvia', 'South Korea', 'Estonia', 'Jamaica',
       'Mauritius', 'Japan', 'Honduras', 'Kazakhstan', 'Bolivia',
       'Hungary', 'Paraguay', 'Northern Cyprus', 'Peru', 'Portugal',
       'Pakistan', 'Russia', 'Philippines', 'Serbia', 'Moldova', 'Libya',
       'Montenegro', 'Tajikistan', 'Croatia', 'Hong Kong',
       'Dominican Republic', 'Bosnia and Herzegovina', 'Turkey',
       'Malaysia', 'Belarus', 'Greece', 'Mongolia', 'North Macedonia',
       'Nigeria', 'Kyrgyzstan', 'Turkmenistan', 'Algeria', 'Morocco',
       'Azerbaijan', 'Lebanon', 'Indonesia', 'China', 'Vietnam', 'Bhutan',
       'Cameroon', 'Bulgaria', 'Ghana', 'Ivory Coast', 'Nepal', 'Jordan',
       'Benin', 'Congo (Brazzaville)', 'Gabon', 'Laos', 'South Africa',
       'Albania', 'Venezuela', 'Cambodia', 'Palestinian Territories',
       'Senegal', 'Somalia', 'Namibia', 'Niger', 'Burkina Faso',
       'Armenia', 'Iran', 'Guinea', 'Georgia', 'Gambia', 'Kenya',
       'Mauritania', 'Mozambique', 'Tunisia', 'Bangladesh', 'Iraq',
       'Congo (Kinshasa)', 'Mali', 'Sierra Leone', 'Sri Lanka', 'Myanmar',
       'Chad', 'Ukraine', 'Ethiopia', 'Swaziland', 'Uganda', 'Egypt',
       'Zambia', 'Togo', 'India', 'Liberia', 'Comoros', 'Madagascar',
       'Lesotho', 'Burundi', 'Zimbabwe', 'Haiti', 'Botswana', 'Syria',
       'Malawi', 'Yemen', 'Rwanda', 'Tanzania', 'Afghanistan',
       'Central African Republic', 'South Sudan'], dtype=object)

In [248]:
#Checking for one of the float values
happiness2019['Score'].values

array([7.769, 7.6  , 7.554, 7.494, 7.488, 7.48 , 7.343, 7.307, 7.278,
       7.246, 7.228, 7.167, 7.139, 7.09 , 7.054, 7.021, 6.985, 6.923,
       6.892, 6.852, 6.825, 6.726, 6.595, 6.592, 6.446, 6.444, 6.436,
       6.375, 6.374, 6.354, 6.321, 6.3  , 6.293, 6.262, 6.253, 6.223,
       6.199, 6.198, 6.192, 6.182, 6.174, 6.149, 6.125, 6.118, 6.105,
       6.1  , 6.086, 6.07 , 6.046, 6.028, 6.021, 6.008, 5.94 , 5.895,
       5.893, 5.89 , 5.888, 5.886, 5.86 , 5.809, 5.779, 5.758, 5.743,
       5.718, 5.697, 5.693, 5.653, 5.648, 5.631, 5.603, 5.529, 5.525,
       5.523, 5.467, 5.432, 5.43 , 5.425, 5.386, 5.373, 5.339, 5.323,
       5.287, 5.285, 5.274, 5.265, 5.261, 5.247, 5.211, 5.208, 5.208,
       5.197, 5.192, 5.191, 5.175, 5.082, 5.044, 5.011, 4.996, 4.944,
       4.913, 4.906, 4.883, 4.812, 4.799, 4.796, 4.722, 4.719, 4.707,
       4.7  , 4.696, 4.681, 4.668, 4.639, 4.628, 4.587, 4.559, 4.548,
       4.534, 4.519, 4.516, 4.509, 4.49 , 4.466, 4.461, 4.456, 4.437,
       4.418, 4.39 , 4.374, 4.366, 4.36 , 4.35 , 4.332, 4.286, 4.212,
       4.189, 4.166, 4.107, 4.085, 4.015, 3.975, 3.973, 3.933, 3.802,
       3.775, 3.663, 3.597, 3.488, 3.462, 3.41 , 3.38 , 3.334, 3.231,
       3.203, 3.083, 2.853])

In [251]:
#renaming columns to have underscores
happiness2019.columns = happiness2018.columns.str.replace(" ", "_")

In [252]:
#checking new names
happiness2019.head(2)

,Overall_rank,Country_or_region,Score,GDP_per_capita,Social_support,Healthy_life_expectancy,Freedom_to_make_life_choices,Generosity,Perceptions_of_corruption
0,1,Finland,7.76900,1.34000,1.58700,0.98600,0.59600,0.15300,0.39300
1,2,Denmark,7.60000,1.38300,1.57300,0.99600,0.59200,0.25200,0.41000

In [170]:
# go to clean them

In [171]:
# check outliers

**What is an Outlier?** 
Outlier is an row/observation that appears far away and diverges from an overall pattern in a sample.

**What are the types of Outliers?**
1. Univariate: These outliers can be found when we look at distribution of a single variable
2. Multivariate: are outliers in an n-dimensional space. In order to find them, you have to look at distributions in multi-dimensions. example (hight=100, weight=100) for a person

**What causes Outliers?**
Whenever we come across outliers, the ideal way to tackle them is to find out the reason of having these outliers. The method to deal with them would then depend on the reason of their occurrence.

Let’s understand various types of outliers:

1. Data Entry Errors:- Human errors such as errors caused during data collection, recording, or entry can cause outliers in data.
2. Measurement Error: It is the most common source of outliers. This is caused when the measurement instrument used turns out to be faulty.
3. Data Processing Error: Whenever we perform data mining, we extract data from multiple sources. It is possible that some manipulation or extraction errors may lead to outliers in the dataset.
4. Sampling error: For instance, we have to measure the height of athletes. By mistake, we include a few basketball players in the sample. This inclusion is likely to cause outliers in the dataset.
5. Natural Outlier: When an outlier is not artificial (due to error), it is a natural outlier. For instance: In my last assignment with one of the renowned insurance company, I noticed that the performance of top 50 financial advisors was far higher than rest of the population. Surprisingly, it was not due to any error. Hence, whenever we perform any data mining activity with advisors, we used to treat this segment separately.


**What is the impact of Outliers on a dataset?**


![image.png](https://www.analyticsvidhya.com/wp-content/uploads/2015/02/Outlier_31.png)



**How to detect Outliers?**

1. Most commonly used method to detect outliers is visualization (Univariate Graphical Analysis).

We use 3 common visualization methods:
>- Box-plot: A box plot is a method for graphically depicting groups of numerical data through their quartiles. The box extends from the Q1 to Q3 quartile values of the data, with a line at the median (Q2). The whiskers extend from the edges of the box to show the range of the data. Outlier points are those past the end of the whiskers. Box plots show robust measures of location and spread as well as providing information about symmetry and outliers.
>
>  
>![image.png](https://miro.medium.com/v2/resize:fit:698/format:webp/1*VK5iHA2AB28HSZwWwUbNYg.png)
>
>
>- Histogram
>- Scatter Plot: A scatter plot is a mathematical diagram using Cartesian coordinates to display values for two variables for a set of data. The data are displayed as a collection of points, each having the value of one variable determining the position on the horizontal axis and the value of the other variable determining the position on the vertical axis. The points that are far from the population can be termed as an outlier.
>
>  
>![image.png](https://miro.medium.com/v2/resize:fit:4800/format:webp/1*Ov6aH-8yIwNoUxtMFwgx4g.png)
>
>

2. Using statistical method (Univariate Non-Graphical analysis):
>- Any value, which is beyond the range of -1.5 x IQR to 1.5 x IQR
 
![image.png](https://www.whatissixsigma.net/wp-content/uploads/2015/07/Box-Plot-Diagram-to-identify-Outliers-figure-1.png)

>- Use capping methods. Any value which out of range of 5th and 95th percentile can be considered as outlier
>- Data points, three or more standard deviation away from mean are considered outlier: The Z-score is the signed number of standard deviations by which the value of an observation or data point is above the mean value of what is being observed or measured. While calculating the Z-score we re-scale and center the data and look for data points that are too far from zero. These data points which are way too far from zero will be treated as the outliers. In most of the cases, a threshold of 3 or -3 is used i.e if the Z-score value is greater than or less than 3 or -3 respectively, that data point will be identified as outliers.
> - Outlier detection is merely a special case of the examination of data for influential data points and it also depends on the business understanding

In [172]:
# go to univariate graphical analysis
# go to lesson : data visualisation 1 - chart type section
# then go to univariate graphical analysis
# detect outliers using graphs varbaly

In [173]:
# go to lesson: statistics 1 then statistics 3
# then go to univariate Non graphical analysis
# detect outliers using numerical statistics

In [174]:
# go to delete ouliers

## 2. Data Cleaning: 

Preliminary findings from data profiling can lead to cleaning the data by:
- Handling missing values
- Correcting errors.
- Dealing with outliers.

-------------------

### Handling missing values:

**Why my data has missing values?**
They may occur at two stages:
1. Data Extraction: It is possible that there are problems with extraction process. Errors at data extraction stage are typically easy to find and can be corrected easily as well.
2. Data collection: These errors occur at time of data collection and are harder to correct.

**Why do we need to handle the missing data?**
To avoid:
- Bias the conclusions.
- Leading the business to make wrong decisions.

**Which are the methods to treat missing values ?**
1. Deletion: we delete rows where any of the variable is missing. Simplicity is one of the major advantage of this method, but this method reduces the power of model because it reduces the sample size.

2. Imputation: is a method to fill in the missing values with estimated ones. This imputation is one of the most frequently used methods.

    2.1. Mean/ Mode/ Median Imputation: It consists of replacing the missing data for a given attribute by the mean or median (quantitative attribute) or mode (qualitative attribute) of all known values of that variable.
    > It can be of two types:
    > - Generalized Imputation: In this case, we calculate the mean or median for all non missing values of that variable then replace missing value with mean or median.
    > - Similar case Imputation: In this case, we calculate average for each group individually of non missing values then replace the missing value based on the group.

    2.2. Constant Value
   
    2.3. Forward Filling
   
    2.4. Backward Filling

6. Prediction Model:  Prediction model is one of the sophisticated method for handling missing data. Here, we create a predictive model to estimate values that will substitute the missing data.  In this case, we divide our data set into two sets: One set with no missing values for the variable and another one with missing values. First data set become training data set of the model while second data set with missing values is test data set and variable with missing values is treated as target variable. Next, we create a model to predict target variable based on other attributes of the training data set and populate missing values of test data set.

> There are 2 drawbacks for this approach:
> - The model estimated values are usually more well-behaved than the true values
> - If there are no relationships with attributes in the data set and the attribute with missing values, then the model will not be precise for estimating missing values.

9. KNN Imputation: In this method of imputation, the missing values of an attribute are imputed using the given number of attributes that are most similar to the attribute whose values are missing. The similarity of two attributes is determined using a distance function. It is also known to have certain advantage & disadvantages.

   > **Advantages:**
   > - k-nearest neighbour can predict both qualitative & quantitative attributes
   > - Creation of predictive model for each attribute with missing data is not required
   > - Attributes with multiple missing values can be easily treated
   > - Correlation structure of the data is taken into consideration

   > **Disadvantage:**
   > - KNN algorithm is very time-consuming in analyzing large database. It searches through all the dataset looking for the most similar instances.
   > - Choice of k-value is very critical. Higher value of k would include attributes which are significantly different from what we need whereas lower value of k implies missing out of significant attributes.

--------------------

In [175]:
# go back to 6th dimention --> Completeness

### Correcting errors

-------------------

In [176]:
# go back to 7th dimension Accuracy

### Dealing with outliers:

**How to remove Outliers?**
Most of the ways to deal with outliers are similar to the methods of missing values like deleting rows, transforming them, binning them, treat them as a separate group, imputing values and other statistical methods. Here, we will discuss the common techniques used to deal with outliers:

1. Deleting rows: We delete outlier values if it is due to data entry error, data processing error or outlier rows are very small in numbers. We can also use trimming at both ends to remove outliers.

2. Imputing: Like imputation of missing values, we can also impute outliers. We can use mean, median, mode imputation methods. Before imputing values, we should analyse if it is natural outlier or artificial. If it is artificial, we can go with imputing values. We can also use statistical model to predict values of outlier rows and after that we can impute it with predicted values.

3. Treat separately: If there are significant number of outliers, we should treat them separately in the statistical model. One of the approach is to treat both groups as two different groups and build individual model for both groups and then combine the output.

## 3. Univariate Analysis: 

This involves examining single variables to understand their characteristics (distribution, central tendency, dispersion, and shape).

We calculate **numerical values** about the data that tells us about the distribution of the data. We also **draw graphs** showing visually how the data is distributed. **To answer the following questions about Features/characteristics of Data:**
- Where is the center of the data? (location)
- How much does the data vary? (scale)
- What is the shape of the data? (shape)

**The benefits of this analysis:**
Statistics summary gives a high-level idea to identify whether the data has any outliers, data entry error, distribution of data such as the data is normally distributed or left/right skewed

**In this step, we will explore variables one by one using following approaches:**

### 1. Univariate Graphical Analysis:
Method to perform uni-variate analysis will depend on whether the variable type is categorical or numerical.

#### I. Categorical Variables:

we’ll use frequency table to understand distribution of each category
- Bar Chart (Ordinal) - Orderd
- Pie Chart (Nominal) - non Orderd

#### II. Numerical Variables:

we need to understand the central tendency and spread of the variable (Descriptive Analysis) using:
   - Box plot
   - Histogram

### 2. Univariate Non-Graphical analysis: 

- Where is the center of the data? (location) --> **Measures of central tendency**
- How much does the data vary? (scale) --> **Measure of variability**
- What is the shape of the data? (shape) --> **Measures of variation combined with an average (measure of center) gives a good picture of the distribution of the data.**

## 4. Bivariate/Multivariate Analysis:

Here, you look at the relationships between two or more variables. This can involve looking for correlations, patterns, and trends that suggest a relationship or an association.

We can perform bi-variate analysis for any combination of categorical and numerical variables. The combination can be:
| bi-variate variables   | Plot type |
| ------------- | ------------- |
| Categorical & Categorical| Stacked Bar Chart |
| Categorical & numerical  | scatter plot, histogram, box plot|
| numerical  & numerical  | Scatter plot, line chart| 


Multivariate Analysis:
- Heat map
- Bar Chart
- Scatter Chart
- Line Chart

**Categorical & Categorical --> (Stacked Column Chart)**

**Categorical & numerical --> (scatter plot, histogram, box plot)**

**numerical & numerical --> (Scatter plot, line chart)**

We could also use a correlation matrix to get more specific information about the relationship between these two variables.

# Template Owner
Tuwaiq Academy - Eng. Esra Madi
# Author
Yaqeen

# Refrences
1. World Happiness Report. (n.d.). About the World Happiness Report. Sustainable Development Solutions Network. Retrieved February 7, 2025, from https://worldhappiness.report/about/

2. Helliwell, John F., Richard Layard, and Jeffrey Sachs, eds. 2015. World Happiness Report 2015. New York: Sustainable Development Solutions Network.
3. World Health Organization. (n.d.). Healthy life expectancy (HALE). World Health Organization. https://www.who.int/data/gho/indicator-metadata-registry/imr-details/65#:~:text=Definition%3A,%2C%20territory%2C%20or%20geographic%20area